In [2]:
import requests
import json
from bs4 import BeautifulSoup as bs
import pandas as pd
import re

In [3]:
#Get top shoe IDs
url = 'https://2fwotdvm2o-dsn.algolia.net/1/indexes/product_variants_v2/query?x-algolia-agent=Algolia for vanilla JavaScript 3.25.1&x-algolia-application-id=2FWOTDVM2O&x-algolia-api-key=ac96de6fef0e02bb95d433d8d5c7038a'
data = {'distinct':'true', 'hitsPerPage':'50','page':'19', 'query': ''}
r = requests.post(url, data=json.dumps(data))
shoeList = pd.DataFrame.from_records(r.json()['hits'])
shoeList = shoeList[['product_template_id', 'name', 'main_picture_url']]
shoeList.rename(columns={'product_template_id': 'id', 'main_picture_url': 'picture'}, inplace=True)
shoeList

,id,name,picture
0,391425,Pharrell x NMD Human Race 'Inspiration Pack',https://image.goat.com/750/attachments/product...
1,306819,Balenciaga Triple S Trainer 'White' 2018,https://image.goat.com/750/attachments/product...
2,677042,Yeezy 700 V3 Kids 'Arzareth',https://image.goat.com/750/attachments/product...
3,19607,Air Force 1 Supreme Plyrs 'Players',https://image.goat.com/750/attachments/product...
4,656412,Supreme x Sk8-Hi 'Black Hole Punch Denim',https://image.goat.com/750/attachments/product...
5,176660,Air Foamposite One 'Eggplant' 2017,https://image.goat.com/750/attachments/product...
6,13602,Air Jordan 3 Retro 'Fire Red' 2013,https://image.goat.com/750/attachments/product...
7,13729,Air Jordan 3 Retro 'True Blue' 2011,https://image.goat.com/750/attachments/product...
8,479524,Air Jordan 4 Retro 'Laser',https://image.goat.com/750/attachments/product...
9,13617,Air Jordan 5 Retro 'Fire Red' 2013,https://image.goat.com/750/attachments/product...
10,690790,Wmns Air VaporMax 2020 Flyknit 'Light Arctic P...,https://image.goat.com/750/attachments/product...
11,693536,Air More Uptempo 'Black White' 2020,https://image.goat.com/750/attachments/product...
12,14968,Air Jordan 4 Retro 'Military Blue' 2006,https://image.goat.com/750/attachments/product...
13,646130,LeBron 7 'MVP',https://image.goat.com/750/attachments/product...
14,210072,Air Jordan 12 Retro 'Dark Grey',https://image.goat.com/750/attachments/product...
15,33561,Yeezy Boost 350 'Moonrock',https://image.goat.com/750/attachments/product...
16,635359,Travis Scott x Air Max 270 React ENG PS 'Cactu...,https://image.goat.com/750/attachments/product...
17,13537,Air Jordan 11 BG 'Legend Blue',https://image.goat.com/750/attachments/product...
18,60245,Air Jordan 12 Retro GS 'Gym Red',https://image.goat.com/750/attachments/product...
19,641295,JJJJound x 992 'Grey',https://image.goat.com/750/attachments/product...
20,482369,Sacai x Blazer Mid 'Black Blue',https://image.goat.com/750/attachments/product...
21,682283,Kasina x Dunk Low 'Road Sign',https://image.goat.com/750/attachments/product...
22,168897,PSNY x Air Jordan 12 Retro 'Paris',https://image.goat.com/750/attachments/product...
23,545478,Air Max 720 ISPA 'Black Reflective',https://image.goat.com/750/attachments/product...
24,255441,Jeff Staple x Dunk Low Pro SB 'Black Pigeon',https://image.goat.com/750/attachments/product...
25,514223,Air Jordan 1 Mid 'Sanded Purple',https://image.goat.com/750/attachments/product...
26,668592,Blazer Mid SB 'Sashiko Pack - Sesame',https://image.goat.com/750/attachments/product...
27,536801,Pharrell x NMD Human Race Trail PRD 'Know Soul',https://image.goat.com/750/attachments/product...
28,13675,Air Jordan 5 Retro 'Bel Air',https://image.goat.com/750/attachments/product...
29,564146,Air Jordan 1 Mid 'Multicolored Swoosh',https://image.goat.com/750/attachments/product...
30,408960,Pharrell x NMD Human Race Trail 'Solar Pack',https://image.goat.com/750/attachments/product...
31,49019,Air Jordan 1 Retro Low OG 'Chicago',https://image.goat.com/750/attachments/product...
32,582079,Comme des Gar√ßons x Air Max 95 'Black',https://image.goat.com/750/attachments/product...
33,675270,Air Jordan 12 Retro GS 'Indigo',https://image.goat.com/750/attachments/product...
34,408959,Pharrell x NMD Human Race Trail 'Solar Pack',https://image.goat.com/750/attachments/product...
35,628892,A-Cold-Wall* x Chuck Taylor All Star Lugged Hi...,https://image.goat.com/750/attachments/product...
36,519825,Air Fear Of God 1 'Sail',https://image.goat.com/750/attachments/product...
37,482040,Air Jordan 1 Mid 'Multi-Color',https://image.goat.com/750/attachments/product...
38,487879,Adapt BB 'Black',https://image.goat.com/750/attachments/product...
39,16458,Undefeated x Air Jordan 4 Retro,https://image.goat.com/750/attachments/product...
40,249946,Off-White x Hyperdunk 2017 Flyknit 'The Ten',https://image.goat.com/750/attachments/product...
41,577876,Air Jordan 1 Low 'Noble Red',https://image.goat.com/750/attachments/product...
42,664510,Wmns Air Jordan 1 Mid 'White University Red',https://image.goat.com/750/attachments/product...
43,328555,Air Jordan 11 Retro Low 'RE2PECT',https://image.goat.com/750/attachments/product...
44,616024,Air Jordan 4 Retro GS 'Red Metallic',https://image.goat.com/750/attachments/product...
45,697101,Sneaker Room x Kyrie 6 'Mom - Red',https://image.goat.com/750/attachments/product...
46,621260,Air Max 90 'Obsidian',https://image.goat.com/750/attachments/product...
47,540571,Air Jordan 1 Mid GS 'Shattered Backboard',https://image.goat.com/750/attachments/product...
48,483741,Blazer Mid '77 Vintage 'Habanero Red',https://image.goat.com/750/attachments/product...
49,457527,A Bathing Ape x UltraBoost 4.0 'Green Camo',https://image.goat.com/750/attachments/product...

In [4]:
shoeDict = {}
for _, shoe in shoeList.iterrows():
    print('Processing', shoe['name'])
    #Get shoe info
    url = 'https://www.goat.com/web-api/v1/product_variants'
    param = {'productTemplateId':shoe['id']} 
    header = {'User-Agent': 'Mozilla/5.0'}
    req = requests.get(url, headers=header, params=param)
    jsonInfo = req.json()
    #Turn to dataframe and clean up
    s = pd.DataFrame.from_records(jsonInfo)
    s.drop(['sizeOption', 'lowestPriceCentsByWarehouse', 'instantShipLowestPriceCents'], axis=1, inplace=True)
    s.rename(columns={'lowestPriceCents': 'price'}, inplace=True)
    s['price'] = [re.findall('(\d+)00', str(x))[0] for x in s['price']]
    shoeDict[shoe['name']] = s

Processing Pharrell x NMD Human Race 'Inspiration Pack'
Processing Balenciaga Triple S Trainer 'White' 2018
Processing Yeezy 700 V3 Kids 'Arzareth'
Processing Air Force 1 Supreme Plyrs 'Players'
Processing Supreme x Sk8-Hi 'Black Hole Punch Denim'
Processing Air Foamposite One 'Eggplant' 2017
Processing Air Jordan 3 Retro 'Fire Red' 2013
Processing Air Jordan 3 Retro 'True Blue' 2011
Processing Air Jordan 4 Retro 'Laser'
Processing Air Jordan 5 Retro 'Fire Red' 2013
Processing Wmns Air VaporMax 2020 Flyknit 'Light Arctic Pink'
Processing Air More Uptempo 'Black White' 2020
Processing Air Jordan 4 Retro 'Military Blue' 2006
Processing LeBron 7 'MVP'
Processing Air Jordan 12 Retro 'Dark Grey'
Processing Yeezy Boost 350 'Moonrock'
Processing Travis Scott x Air Max 270 React ENG PS 'Cactus Trails'
Processing Air Jordan 11 BG 'Legend Blue'
Processing Air Jordan 12 Retro GS 'Gym Red'
Processing JJJJound x 992 'Grey'
Processing Sacai x Blazer Mid 'Black Blue'
Processing Kasina x Dunk Low 'Road Sign'
Processing PSNY x Air Jordan 12 Retro 'Paris'
Processing Air Max 720 ISPA 'Black Reflective'
Processing Jeff Staple x Dunk Low Pro SB 'Black Pigeon'
Processing Air Jordan 1 Mid 'Sanded Purple'
Processing Blazer Mid SB 'Sashiko Pack - Sesame'
Processing Pharrell x NMD Human Race Trail PRD 'Know Soul'
Processing Air Jordan 5 Retro 'Bel Air'
Processing Air Jordan 1 Mid 'Multicolored Swoosh'
Processing Pharrell x NMD Human Race Trail 'Solar Pack'
Processing Air Jordan 1 Retro Low OG 'Chicago'
Processing Comme des Gar√ßons x Air Max 95 'Black'
Processing Air Jordan 12 Retro GS 'Indigo'
Processing Pharrell x NMD Human Race Trail 'Solar Pack'
Processing A-Cold-Wall* x Chuck Taylor All Star Lugged High 'Grey Violet'
Processing Air Fear Of God 1 'Sail'
Processing Air Jordan 1 Mid 'Multi-Color'
Processing Adapt BB 'Black'
Processing Undefeated x Air Jordan 4 Retro
Processing Off-White x Hyperdunk 2017 Flyknit 'The Ten'
Processing Air Jordan 1 Low 'Noble Red'
Processing Wmns Air Jordan 1 Mid 'White University Red'
Processing Air Jordan 11 Retro Low 'RE2PECT'
Processing Air Jordan 4 Retro GS 'Red Metallic'
Processing Sneaker Room x Kyrie 6 'Mom - Red'
Processing Air Max 90 'Obsidian'
Processing Air Jordan 1 Mid GS 'Shattered Backboard'
Processing Blazer Mid '77 Vintage 'Habanero Red'
Processing A Bathing Ape x UltraBoost 4.0 'Green Camo'

In [7]:
for name, df in shoeDict.items():
    print(name)
    p = df[(df.shoeCondition != 'new_no_defects')]
    display(p)

Air Jordan 6 Retro SP 'Reflections Of A Champion'

    size     shoeCondition     boxCondition price
8    8.5              used   good_condition   120
10   9.0              used   good_condition   159
12   9.5              used   good_condition   160
13   9.5              used  no_original_box   155
14   9.5  new_with_defects   good_condition   250
15  10.0              used   good_condition   100
16  10.0              used    badly_damaged    75
20  10.5              used      missing_lid   181
22  10.5              used   good_condition   100
23  10.5  new_with_defects   good_condition   205
24  10.5              used  no_original_box    90
25  11.0              used  no_original_box   120
26  11.0              used   good_condition    80
31  11.5              used   good_condition   115
33  12.0              used  no_original_box   161
34  12.0              used   good_condition   171
37  13.0              used    badly_damaged   190
40  14.0              used  no_original_box   145

Pharrell x NMD Human Race Trail 'Solar Pack'

    size     shoeCondition     boxCondition price
0    4.0              used   good_condition   230
6    7.0              used  no_original_box   260
8    7.5              used   good_condition   227
11   8.0              used   good_condition   160
12   8.0              used  no_original_box   245
13   8.0              used    badly_damaged   160
17   8.5              used   good_condition   185
18   8.5              used  no_original_box   200
19   8.5              used    badly_damaged   135
20   9.0  new_with_defects   good_condition   133
21   9.0              used    badly_damaged   200
23   9.0              used   good_condition   170
24   9.0              used  no_original_box   194
29   9.5              used    badly_damaged   230
31   9.5              used   good_condition   185
32  10.0              used    badly_damaged   180
33  10.0              used   good_condition   175
36  10.0  new_with_defects   good_condition   235
37  10.5              used  no_original_box   200
39  10.5              used   good_condition   185
41  10.5  new_with_defects    badly_damaged   299
43  11.0              used    badly_damaged   215
44  11.0              used   good_condition   227
48  11.5              used  no_original_box   140
49  11.5              used   good_condition   200
50  12.0              used   good_condition   245
52  12.0              used    badly_damaged   225
53  12.0              used  no_original_box   290
54  12.5  new_with_defects  no_original_box   290
56  12.5              used   good_condition   199
57  12.5              used    badly_damaged   225
58  13.0              used    badly_damaged   175
59  13.0              used   good_condition   285
61  13.0              used  no_original_box   208
63  14.0              used   good_condition   199

LeBron 18 'Reflections'

    size     shoeCondition    boxCondition price
19  14.0  new_with_defects  good_condition   275

Gatorade x PG 4 'White GX'

    size     shoeCondition    boxCondition price
3    4.0              used  good_condition   200
13   8.0              used  good_condition   134
23  10.0  new_with_defects  good_condition   145
24  10.5              used  good_condition   140
29  11.0              used  good_condition   135
33  12.0              used  good_condition   135

Air Jordan 4 Retro 'Laser'

    size     shoeCondition     boxCondition price
0    7.0              used   good_condition   165
4    8.0              used   good_condition   157
5    8.0              used  no_original_box   135
6    8.5              used  no_original_box   100
7    8.5              used    badly_damaged   180
8    8.5              used   good_condition   140
10   9.0              used  no_original_box   100
11   9.0              used   good_condition   130
13   9.5              used   good_condition   150
14   9.5              used  no_original_box   175
16  10.0  new_with_defects  no_original_box   190
17  10.0              used   good_condition   130
20  10.5              used  no_original_box    95
21  10.5              used    badly_damaged   160
22  10.5              used   good_condition   120
25  11.0              used  no_original_box    95
26  11.0              used   good_condition   150
28  11.5              used  no_original_box    90
30  11.5              used   good_condition   150
31  12.0              used      missing_lid   125
33  12.0              used  no_original_box    80
34  12.0              used   good_condition   160
35  12.0              used    badly_damaged   115
38  13.0              used   good_condition    95
39  13.0              used  no_original_box   115
41  15.0              used  no_original_box   431
42  16.0  new_with_defects    badly_damaged   235

Wmns Air Jordan 1 Mid 'Alternate Swoosh'

    size shoeCondition     boxCondition price
13   9.5          used  no_original_box   175
16  11.0          used   good_condition   155

Pharrell x NMD Human Race 'Inspiration Pack'

    size     shoeCondition     boxCondition price
3    5.0  new_with_defects   good_condition   350
4    5.0              used   good_condition   202
7    6.0              used  no_original_box   240
8    6.0              used   good_condition   291
11   7.5  new_with_defects   good_condition   370
12   7.5              used  no_original_box   194
13   7.5              used   good_condition   200
15   8.0              used   good_condition   190
17   8.5              used  no_original_box   165
18   8.5              used    badly_damaged   175
19   8.5              used   good_condition   125
23   9.0              used  no_original_box   200
24   9.0              used   good_condition   195
25   9.0              used    badly_damaged   250
26   9.5              used    badly_damaged   259
28   9.5  new_with_defects   good_condition   160
30   9.5              used  no_original_box   160
31   9.5              used   good_condition   172
33  10.0              used   good_condition   195
34  10.0              used  no_original_box   180
37  10.5              used  no_original_box   225
39  10.5              used    badly_damaged   180
41  11.0              used   good_condition   245
44  11.5              used   good_condition   230
46  12.0              used  no_original_box   280
47  12.0              used    badly_damaged   200
48  12.0              used   good_condition   300
49  13.0              used  no_original_box   285
50  13.0              used   good_condition   395
52  14.0              used   good_condition   350

Yeezy 700 V3 Kids 'Arzareth'

   size shoeCondition    boxCondition price
2  11.5          used  good_condition   220

Air VaporMax 2020 Flyknit 'Dark Grey'

Empty DataFrame
Columns: [size, shoeCondition, boxCondition, price]
Index: []

Yeezy Boost 350 V2 'Lundmark Reflective'

    size shoeCondition     boxCondition price
5    6.0          used   good_condition   750
14   8.5          used  no_original_box   595
20   9.0          used   good_condition   669
23   9.5          used    badly_damaged   850
26  10.0          used   good_condition   450

A-Cold-Wall* x Chuck Taylor All Star Lugged High 'Grey Violet'

    size     shoeCondition    boxCondition price
6    6.0              used  good_condition   135
10   7.0              used  good_condition   155
16   9.0  new_with_defects  good_condition   200
17   9.5  new_with_defects   badly_damaged   178
21  10.5  new_with_defects   badly_damaged   185

NMD_R1 'Black Gum'

    size     shoeCondition     boxCondition price
0    4.0              used  no_original_box    61
3    4.0              used   good_condition   150
17   8.0              used  no_original_box   100
18   8.0  new_with_defects   good_condition    65
20   8.0              used   good_condition    90
22   8.5  new_with_defects   good_condition    95
23   8.5              used   good_condition    45
27   9.0  new_with_defects   good_condition    95
29   9.5              used   good_condition    80
31  10.0              used  no_original_box    85
33  10.5              used  no_original_box    65
34  10.5              used    badly_damaged    55
37  10.5              used   good_condition   120
39  11.0              used   good_condition    90
40  11.0              used  no_original_box    28
42  11.5              used   good_condition   115
45  12.0  new_with_defects   good_condition   120
46  12.0              used   good_condition   165
47  12.0              used  no_original_box    70
50  14.0              used  no_original_box    50

Air Max 97 GS 'Black'

    size     shoeCondition     boxCondition price
0    3.5              used    badly_damaged   145
4    4.5              used  no_original_box    90
6    4.5              used   good_condition   135
10   6.0  new_with_defects      missing_lid   120
15   7.0              used   good_condition   120

Supreme x NBA x Air Force 1 Mid 07 'White'

    size     shoeCondition     boxCondition price
0    7.5  new_with_defects  no_original_box   380
1    8.0              used   good_condition   375
3    8.0              used  no_original_box   420
4    8.0  new_with_defects   good_condition   450
5    8.5              used   good_condition   235
6    8.5              used  no_original_box   360
9    9.0              used   good_condition   250
12   9.0              used  no_original_box   225
13   9.0              used    badly_damaged   235
15   9.5              used  no_original_box   190
16   9.5              used   good_condition   350
17   9.5              used    badly_damaged   240
18   9.5  new_with_defects   good_condition   425
19  10.0              used   good_condition   325
22  10.5              used   good_condition   219
25  11.0              used   good_condition   234
26  11.0  new_with_defects   good_condition   354
27  11.0              used    badly_damaged   195
28  11.5              used  no_original_box   155
29  11.5              used   good_condition   150
32  11.5              used    badly_damaged   395
34  12.0              used   good_condition   265
36  12.0              used  no_original_box   200
40  14.0              used  no_original_box   260

Air Jordan 3 Retro 'Fire Red' 2013

    size     shoeCondition     boxCondition price
0    6.0              used  no_original_box   110
1    6.5              used   good_condition   110
3    7.0              used  no_original_box    80
5    7.5              used   good_condition   210
7    8.0              used    badly_damaged   145
8    8.0              used  no_original_box   150
9    8.0              used   good_condition   175
10   8.5              used   good_condition   145
12   8.5  new_with_defects  no_original_box   240
13   8.5              used    badly_damaged   205
14   8.5              used  no_original_box    70
15   9.0              used   good_condition   160
16   9.0  new_with_defects   good_condition   300
18   9.0              used  no_original_box    90
20   9.5              used   good_condition   161
21   9.5              used  no_original_box    70
22   9.5  new_with_defects   good_condition   260
24   9.5              used    badly_damaged   195
25  10.0              used   good_condition   140
26  10.0  new_with_defects   good_condition   305
28  10.0              used  no_original_box   105
30  10.0              used    badly_damaged    90
31  10.5              used    badly_damaged   150
33  10.5  new_with_defects   good_condition   395
34  10.5              used  no_original_box    80
35  10.5              used   good_condition   100
36  11.0  new_with_defects   good_condition   399
37  11.0              used  no_original_box    85
38  11.0              used   good_condition    86
40  11.5              used    badly_damaged   140
41  11.5              used   good_condition   135
43  11.5              used  no_original_box   199
45  12.0  new_with_defects    badly_damaged   405
46  12.0              used  no_original_box   150
47  12.0              used   good_condition   125
48  12.0  new_with_defects   good_condition   140
49  12.0              used    badly_damaged   160
50  13.0  new_with_defects   good_condition   335
52  13.0              used   good_condition   150
54  13.0              used    badly_damaged   175
55  13.0              used  no_original_box   130
56  14.0              used   good_condition   160
58  14.0              used    badly_damaged   165
60  15.0              used  no_original_box   140

Air Jordan 4 Retro 'Military Blue' 2006

    size     shoeCondition     boxCondition price
0    8.5  new_with_defects   good_condition   350
1    9.0  new_with_defects   good_condition   264
2    9.0              used   good_condition   195
3    9.0  new_with_defects    badly_damaged   400
5    9.5  new_with_defects   good_condition   230
6    9.5              used   good_condition   170
7   10.0              used   good_condition   250
8   10.0              used  no_original_box   125
9   10.0  new_with_defects   good_condition   258
10  10.0              used    badly_damaged    80
12  10.5              used   good_condition   172
13  10.5  new_with_defects   good_condition   312
14  10.5              used  no_original_box   105
16  11.0              used  no_original_box    75
18  11.5              used  no_original_box   107
19  12.0              used  no_original_box   245
20  12.0              used   good_condition   200
21  12.0  new_with_defects   good_condition   250
22  13.0              used  no_original_box   150
25  14.0              used  no_original_box   195

Air More Uptempo 'Black White' 2020

Empty DataFrame
Columns: [size, shoeCondition, boxCondition, price]
Index: []

Air Jordan 5 Retro 'Fire Red' 2013

    size     shoeCondition     boxCondition price
0    4.5              used   good_condition   140
1    6.0              used   good_condition    75
2    7.0              used   good_condition   200
3    7.0              used  no_original_box   285
4    7.5              used   good_condition   240
5    7.5  new_with_defects   good_condition   300
6    7.5              used  no_original_box   130
8    8.0              used   good_condition   160
9    8.0  new_with_defects   good_condition   500
11   8.0              used  no_original_box    95
12   8.5              used  no_original_box    70
14   8.5              used    badly_damaged   260
16   8.5  new_with_defects    badly_damaged   230
17   8.5              used   good_condition   175
18   8.5  new_with_defects   good_condition   275
19   9.0              used   good_condition   125
21   9.0              used    badly_damaged   250
22   9.0  new_with_defects   good_condition   275
23   9.0              used  no_original_box   100
24   9.5              used  no_original_box   175
25   9.5              used    badly_damaged   100
26   9.5              used   good_condition   164
27   9.5  new_with_defects   good_condition   265
29  10.0  new_with_defects  no_original_box   350
30  10.0              used    badly_damaged   155
31  10.0              used   good_condition   120
32  10.0              used  no_original_box    50
33  10.0  new_with_defects   good_condition   315
36  10.5              used  no_original_box    90
37  10.5              used    badly_damaged   180
39  10.5  new_with_defects   good_condition   250
40  10.5              used   good_condition   100
41  10.5  new_with_defects  no_original_box   300
43  11.0  new_with_defects   good_condition   295
45  11.0              used   good_condition   135
47  11.0              used  no_original_box    85
48  11.5  new_with_defects  no_original_box   304
49  11.5              used  no_original_box   119
51  11.5  new_with_defects   good_condition   309
52  11.5              used   good_condition   170
53  12.0  new_with_defects  no_original_box   460
54  12.0  new_with_defects   good_condition   325
55  12.0  new_with_defects    badly_damaged   300
56  12.0              used  no_original_box   175
58  12.0              used    badly_damaged   160
59  12.0              used   good_condition   194
60  12.0              used      missing_lid   170
61  12.5              used   good_condition   275
62  13.0              used   good_condition   190
63  13.0              used    badly_damaged   140
66  13.0              used  no_original_box   100
67  13.0  new_with_defects   good_condition   490
68  14.0              used    badly_damaged   200
69  14.0  new_with_defects   good_condition   300
70  14.0              used   good_condition   250
72  15.0              used   good_condition   205
74  15.0              used  no_original_box   310
75  15.0              used    badly_damaged   190
76  16.0              used  no_original_box    90

Yeezy Boost 350 'Moonrock'

    size shoeCondition     boxCondition price
1    4.5          used  no_original_box   490
3    4.5          used      missing_lid   450
4    4.5          used    badly_damaged   998
5    4.5          used   good_condition   340
7    5.0          used   good_condition   650
..   ...           ...              ...   ...
90  13.0          used   good_condition  1100
91  13.0          used  no_original_box   500
94  14.0          used  no_original_box   750
96  15.0          used   good_condition  1250
97  15.0          used  no_original_box  1100

[66 rows x 4 columns]

Air Jordan 1 Mid GS 'Shattered Backboard'

    size     shoeCondition     boxCondition price
2    4.0              used   good_condition   230
3    4.0  new_with_defects   good_condition   330
8    4.5              used   good_condition   257
11   5.0              used  no_original_box   220
13   6.0              used    badly_damaged   225
15   6.0              used   good_condition   355
18   7.0              used    badly_damaged   160
19   7.0              used  no_original_box   170
20   7.0              used   good_condition   180

Air Jordan 12 Retro 'Dark Grey'

    size     shoeCondition     boxCondition price
0    4.0              used    badly_damaged    95
1    4.5              used   good_condition   150
2    5.0              used   good_condition   110
3    6.0              used   good_condition   120
4    7.0              used   good_condition   225
5    7.0              used  no_original_box   180
7    7.5              used  no_original_box   150
8    8.0              used  no_original_box    80
10   8.0              used   good_condition   122
11   8.0              used    badly_damaged   140
12   8.5              used   good_condition   128
14   8.5              used  no_original_box   115
18   9.0              used   good_condition   120
19   9.0              used    badly_damaged   150
20   9.0              used  no_original_box   105
22   9.5              used    badly_damaged   250
23   9.5              used   good_condition   120
24   9.5              used  no_original_box    89
25  10.0              used   good_condition   110
27  10.0              used  no_original_box   125
28  10.0              used    badly_damaged   150
29  10.0  new_with_defects    badly_damaged   205
31  10.5  new_with_defects   good_condition   325
33  10.5              used   good_condition   200
34  10.5              used  no_original_box    80
35  10.5              used    badly_damaged    72
37  11.0              used    badly_damaged   200
38  11.0              used  no_original_box   135
39  11.0              used   good_condition   170
41  11.5              used   good_condition   175
42  11.5              used  no_original_box   100
43  11.5              used    badly_damaged   330
44  12.0              used  no_original_box   145
45  12.0  new_with_defects   good_condition   320
46  12.0              used   good_condition   150
47  12.0              used    badly_damaged   190
49  12.5              used    badly_damaged   340
50  12.5              used  no_original_box   280
52  13.0              used    badly_damaged   120
53  13.0              used   good_condition   200
54  13.0  new_with_defects   good_condition   344
55  13.0              used  no_original_box   135

Air Jordan 1 Retro Low OG 'Chicago'

    size     shoeCondition     boxCondition price
0    7.5              used  no_original_box   400
2    8.0              used  no_original_box   482
3    8.5              used  no_original_box   450
5    8.5              used    badly_damaged   850
7    9.0              used   good_condition   560
8    9.0              used  no_original_box   460
10   9.5              used   good_condition   700
11   9.5              used  no_original_box  1000
12  10.0              used      missing_lid   700
13  10.0              used   good_condition   380
14  10.0              used  no_original_box   475
16  10.5              used   good_condition   350
17  10.5              used  no_original_box   425
18  11.0              used  no_original_box   450
19  11.0              used   good_condition   480
20  11.0              used    badly_damaged   500
21  11.5              used    badly_damaged   499
22  11.5              used   good_condition   369
23  11.5              used  no_original_box   465
24  12.0              used   good_condition   684
25  12.0              used  no_original_box   525
26  13.0              used    badly_damaged   635
27  13.0              used  no_original_box   635
28  13.0              used   good_condition   500
29  13.0  new_with_defects    badly_damaged   500
31  14.0              used   good_condition   335
32  14.0              used  no_original_box   350

Air Jordan 1 Mid 'Sanded Purple'

    size     shoeCondition     boxCondition price
2    8.0              used   good_condition   265
5    8.5              used   good_condition   246
9    9.0              used   good_condition   135
12   9.5  new_with_defects   good_condition   165
13   9.5  new_with_defects      missing_lid   200
16  10.5  new_with_defects   good_condition   185
19  11.0              used  no_original_box    90
22  11.5              used   good_condition   172
23  11.5  new_with_defects   good_condition   180
24  12.0              used  no_original_box   100
25  12.0              used   good_condition   200
33  14.0              used   good_condition   175

Air Jordan 12 Retro GS 'Indigo'

    size     shoeCondition     boxCondition price
4    4.0              used  no_original_box   110
8    5.0              used   good_condition   143
9    5.0  new_with_defects   good_condition   180
11   5.5              used      missing_lid   125
12   6.0  new_with_defects   good_condition   142
15   6.0              used   good_condition   170
18   6.5  new_with_defects   good_condition   180
22   7.0              used   good_condition   140

Pharrell x NMD Human Race Trail PRD 'Know Soul'

    size     shoeCondition     boxCondition price
6    6.5  new_with_defects   good_condition   300
10   8.0              used    badly_damaged   200
13   8.5              used   good_condition   200
16   9.0              used   good_condition   199
19  10.0              used    badly_damaged   255
22  10.0              used   good_condition   220
24  11.0              used   good_condition   265
25  11.0              used  no_original_box   310
27  11.5              used   good_condition   280
28  12.0              used   good_condition   227
29  12.5              used  no_original_box   230
31  13.0              used  no_original_box   300
34  14.0              used    badly_damaged   340

Air Max LeBron 7 Retro QS 'All Star' 2020

    size     shoeCondition    boxCondition price
14   9.5              used  good_condition   140
18  10.5  new_with_defects  good_condition   225
20  11.0              used  good_condition   210
24  13.0              used  good_condition   300

Blazer Mid '77 Vintage 'Habanero Red'

    size     shoeCondition     boxCondition price
3    6.0              used  no_original_box   190
10   7.5              used  no_original_box    90
19   9.5              used    badly_damaged   150
21   9.5              used   good_condition   135
24  10.0              used   good_condition   119
25  10.0              used  no_original_box    70
26  10.0              used    badly_damaged   160
30  11.0  new_with_defects   good_condition   180
32  11.0              used  no_original_box   170
36  12.0              used  no_original_box   110
44  15.0  new_with_defects  no_original_box    90

Sacai x Blazer Mid 'Black Grey'

    size     shoeCondition     boxCondition price
2    4.5  new_with_defects   good_condition   300
7    5.5              used   good_condition   250
10   6.5              used   good_condition   345
14   8.0              used   good_condition   320
17   9.0              used   good_condition   299
19  10.0              used   good_condition   275
21  10.0  new_with_defects   good_condition   335
23  10.5              used  no_original_box   240
25  11.0              used   good_condition   280
28  11.5              used   good_condition   271
29  12.0              used  no_original_box   245
32  13.0              used   good_condition   195
35  13.0  new_with_defects   good_condition   272

Jeff Staple x Dunk Low Pro SB 'Black Pigeon'

    size     shoeCondition     boxCondition price
3    5.0              used    badly_damaged   370
6    6.5              used   good_condition   750
12   7.5              used   good_condition   350
14   8.0              used  no_original_box   350
17   8.5              used   good_condition   430
18   8.5              used  no_original_box   415
19   9.0              used  no_original_box   450
22   9.0              used   good_condition   500
25   9.5              used   good_condition   470
26  10.0              used  no_original_box   425
27  10.0              used   good_condition   430
29  10.5              used   good_condition   450
31  10.5  new_with_defects  no_original_box   540
32  11.0              used   good_condition   480
34  11.0              used  no_original_box   423
36  11.5              used  no_original_box   660
37  11.5              used   good_condition   438
38  12.0              used   good_condition   500
39  13.0              used  no_original_box   455
41  13.0              used   good_condition   375
42  14.0              used   good_condition   680

Wmns Air Jordan 1 Rebel XX 'Chicago'

    size shoeCondition    boxCondition price
0    5.0          used  good_condition   180
8    6.5          used  good_condition   250
12   7.5          used     missing_lid   117
13   8.0          used   badly_damaged   165
28  11.5          used  good_condition   250

Wmns Air Jordan 1 Mid 'White University Red'

    size     shoeCondition    boxCondition price
5    7.0  new_with_defects  good_condition   173
16  12.0  new_with_defects  good_condition   129

Air Jordan 11 BG 'Legend Blue'

    size     shoeCondition     boxCondition price
0    3.0              used  no_original_box   105
1    3.5  new_with_defects   good_condition   350
2    3.5              used    badly_damaged   240
3    3.5              used   good_condition   175
5    4.0  new_with_defects   good_condition   300
6    4.0              used  no_original_box   100
7    4.0              used   good_condition   150
9    4.0              used    badly_damaged    95
11   4.5  new_with_defects   good_condition   315
13   4.5              used   good_condition   150
14   4.5              used  no_original_box    85
16   4.5              used    badly_damaged   100
17   5.0  new_with_defects   good_condition   310
19   5.0              used   good_condition    85
20   5.0              used    badly_damaged    90
21   5.0              used  no_original_box    40
23   5.5              used    badly_damaged    95
24   5.5              used   good_condition   120
25   5.5              used  no_original_box    45
26   5.5  new_with_defects    badly_damaged   325
27   5.5  new_with_defects   good_condition   238
29   6.0              used   good_condition    85
30   6.0              used  no_original_box    70
31   6.0              used    badly_damaged    90
32   6.0  new_with_defects   good_condition   250
35   6.5  new_with_defects  no_original_box   285
36   6.5              used   good_condition    90
37   6.5  new_with_defects   good_condition   282
38   6.5              used    badly_damaged   125
39   6.5  new_with_defects    badly_damaged   170
40   6.5              used  no_original_box    50
41   7.0              used   good_condition   150
42   7.0  new_with_defects   good_condition   250
44   7.0              used  no_original_box   100
45   7.0              used    badly_damaged   175
47   9.0              used  no_original_box    90

Air VaporMax 2020 Flyknit 'Team Red'

Empty DataFrame
Columns: [size, shoeCondition, boxCondition, price]
Index: []

Air Jordan 2 Retro '2004'

    size     shoeCondition     boxCondition price
1    8.5              used  no_original_box   225
2    9.0              used  no_original_box   250
3    9.0              used   good_condition   150
5   10.0              used    badly_damaged   235
6   10.0  new_with_defects   good_condition   685
7   10.5  new_with_defects    badly_damaged   600
8   10.5              used  no_original_box   175
9   10.5              used   good_condition   185
10  10.5  new_with_defects   good_condition   412
11  11.0              used   good_condition   240
12  11.0              used  no_original_box   230
13  11.0  new_with_defects   good_condition   600
14  11.5              used   good_condition   448
15  11.5              used  no_original_box   200
16  12.0              used  no_original_box   150
17  14.0              used  no_original_box   233

Central Saint Martins x Wmns Kyron 'For The Love Of Water'

Empty DataFrame
Columns: [size, shoeCondition, boxCondition, price]
Index: []

Undefeated x Zoom Kobe 5 Protro 'What If Pack - Dirty Dozen'

   size     shoeCondition     boxCondition price
8   9.0  new_with_defects  no_original_box   485

END. x Evo 4D 'Dune'

Empty DataFrame
Columns: [size, shoeCondition, boxCondition, price]
Index: []

Alexander McQueen Wmns Oversized Sneaker 'White Black' 2019

    size shoeCondition     boxCondition price
5    6.0          used   good_condition   365
6    6.0          used  no_original_box   465
13   9.0          used  no_original_box   230
14   9.5          used   good_condition   417

Air Jordan 1 Mid 'White Deep Royal Blue'

    size     shoeCondition    boxCondition price
9   10.0              used  good_condition   120
11  10.5  new_with_defects  good_condition   165

Air Jordan 1 Low GS 'Shattered Backboard'

    size     shoeCondition     boxCondition price
1    4.0              used   good_condition   259
4    5.0              used  no_original_box   225
6    5.5              used   good_condition   248
8    6.0  new_with_defects   good_condition   277
9    6.0              used  no_original_box   220
11   6.0              used   good_condition   290
14   6.5  new_with_defects   good_condition   232
15   7.0              used   good_condition   166

KFC x Classic Clog 'Fried Chicken Print'

    size shoeCondition    boxCondition price
15  14.0          used  good_condition   120

Wmns Air VaporMax Plus 'Orange'

    size     shoeCondition     boxCondition price
2    6.0              used   good_condition   200
4    6.5              used   good_condition   170
9    7.0  new_with_defects   good_condition   250
10   7.5              used  no_original_box   165
13   8.0              used   good_condition   205
18   8.5  new_with_defects      missing_lid   216
26  12.0              used   good_condition   289

Sneaker Room x Kyrie 6 'Mom - Red'

Empty DataFrame
Columns: [size, shoeCondition, boxCondition, price]
Index: []

Air Foamposite One 'Eggplant' 2017

    size     shoeCondition     boxCondition price
0    7.0              used   good_condition   130
4    8.0        goat_clean  no_original_box   190
6    8.0              used  no_original_box    90
7    8.0              used    badly_damaged   155
8    8.0              used   good_condition   200
9    8.5              used   good_condition   220
10   8.5              used    badly_damaged   260
12   8.5              used  no_original_box    75
13   9.0              used    badly_damaged   235
15   9.0              used   good_condition   130
17   9.0        goat_clean   good_condition   240
18   9.0              used  no_original_box   200
19   9.5              used   good_condition   160
20   9.5              used  no_original_box   161
22  10.0              used   good_condition   230
24  10.0              used  no_original_box    86
26  10.0  new_with_defects  no_original_box   300
28  10.5              used    badly_damaged   300
29  10.5              used   good_condition   120
31  10.5              used  no_original_box   140
33  11.0              used  no_original_box   100
34  11.0              used   good_condition   120
36  11.5              used    badly_damaged   230
37  11.5              used   good_condition   190
39  12.0              used  no_original_box   110
40  12.0              used   good_condition   215
42  12.5              used  no_original_box   255
43  13.0              used  no_original_box   230
45  14.0              used   good_condition   250
47  14.0              used  no_original_box   205

Air Max 90 'Obsidian'

    size     shoeCondition    boxCondition price
1    6.5  new_with_defects  good_condition   135
6    8.0  new_with_defects  good_condition    98
8    9.0  new_with_defects   badly_damaged    80
10   9.0  new_with_defects  good_condition    70

Sacai x Blazer Mid 'Black Blue'

    size     shoeCondition    boxCondition price
5    6.0  new_with_defects  good_condition   450
9    7.0              used  good_condition   355
11   7.5              used  good_condition   365
14   8.0        goat_clean   badly_damaged   440
16   8.5              used  good_condition   265
17   9.0  new_with_defects  good_condition   420
19   9.0              used  good_condition   340
23   9.5              used   badly_damaged   350
24   9.5              used  good_condition   300
28  10.5              used  good_condition   350
31  11.0              used  good_condition   235
33  12.0              used  good_condition   260
37  13.0  new_with_defects  good_condition   275

Undefeated x UltraBoost 1.0 'Stars and Stripes'

    size     shoeCondition     boxCondition price
4    5.0              used   good_condition    65
10   6.5              used   good_condition   160
14   7.5              used  no_original_box   120
15   7.5  new_with_defects   good_condition   195
18   8.0              used   good_condition   175
19   8.0              used  no_original_box   120
21   8.5  new_with_defects   good_condition   150
22   8.5              used   good_condition   110
24   9.0              used   good_condition   186
26   9.5              used  no_original_box   130
27   9.5              used   good_condition   140
29  10.0              used   good_condition   150
30  10.5              used   good_condition   155
32  10.5              used  no_original_box   120
34  11.0              used   good_condition   250
36  12.0              used   good_condition   180

Off-White x Hyperdunk 2017 Flyknit 'The Ten'

    size     shoeCondition     boxCondition price
0    5.0              used    badly_damaged   455
4    7.0              used  no_original_box   375
6    7.0              used   good_condition   750
7    7.0              used    badly_damaged   350
8    7.5              used  no_original_box   499
9    7.5  new_with_defects    badly_damaged   950
10   7.5              used    badly_damaged   665
12   8.0  new_with_defects    badly_damaged   890
14   8.0        goat_clean    badly_damaged   575
15   8.0              used    badly_damaged   900
16   8.0              used   good_condition   550
17   8.5              used   good_condition   554
19   8.5        goat_clean  no_original_box   650
20   8.5              used  no_original_box   590
21   8.5  new_with_defects  no_original_box   850
23   9.0              used  no_original_box   450
25   9.0              used    badly_damaged   555
27   9.0              used   good_condition   530
28   9.5        goat_clean    badly_damaged   620
30   9.5              used    badly_damaged   620
32   9.5  new_with_defects    badly_damaged   800
33   9.5              used  no_original_box   460
34   9.5              used   good_condition   585
36  10.0              used  no_original_box   386
37  10.0  new_with_defects   good_condition  1100
38  10.0              used    badly_damaged   450
39  10.0        goat_clean  no_original_box   720
40  10.0              used   good_condition   499
41  10.0  new_with_defects    badly_damaged  1385
44  10.5              used   good_condition   879
45  10.5              used    badly_damaged   890
47  10.5              used  no_original_box   440
49  10.5  new_with_defects    badly_damaged   890
51  11.0              used  no_original_box   599
53  11.0              used   good_condition   650
54  11.5              used  no_original_box   700
56  11.5              used   good_condition   750
58  12.0              used  no_original_box   663
60  12.0              used   good_condition   479
63  12.0              used    badly_damaged   465
66  13.0  new_with_defects    badly_damaged   925
67  13.0              used   good_condition   705
68  13.0              used    badly_damaged   495
69  13.0              used  no_original_box   595
71  14.0              used    badly_damaged   586
72  14.0  new_with_defects    badly_damaged   890
74  14.0              used  no_original_box   420

Dior B23 High 'Dior Oblique - Red'

Empty DataFrame
Columns: [size, shoeCondition, boxCondition, price]
Index: []

In [8]:
#Get shoe info
url = 'https://www.goat.com/web-api/v1/product_variants'
header = {'User-Agent': 'Mozilla/5.0'}
for index, row in shoeList.iterrows():
    param = {'productTemplateId':row['id']} 
    r = requests.get(url, headers=header, params=param)
    jsonInfo = r.json()

In [116]:
df

    size     shoeCondition     boxCondition   price
0    7.0    new_no_defects   good_condition   44500
1    7.5    new_no_defects   good_condition   46000
2    8.0    new_no_defects   good_condition   38900
3    8.5    new_no_defects   good_condition   37500
4    9.0    new_no_defects   good_condition   36900
5    9.0    new_no_defects  no_original_box   75000
6    9.5    new_no_defects   good_condition   37400
7    9.5  new_with_defects  no_original_box   62700
8    9.5  new_with_defects   good_condition   34500
9   10.0    new_no_defects   good_condition   37400
10  10.5    new_no_defects    badly_damaged   33800
11  10.5  new_with_defects      missing_lid   33000
12  10.5    new_no_defects   good_condition   34800
13  11.0    new_no_defects   good_condition   35000
14  11.5    new_no_defects    badly_damaged   37000
15  11.5    new_no_defects   good_condition   35000
16  12.0    new_no_defects   good_condition   34000
17  12.5    new_no_defects   good_condition  100000
18  13.0    new_no_defects   good_condition   31900
19  14.0    new_no_defects   good_condition   30900
20  15.0    new_no_defects   good_condition   27900
21  16.0    new_no_defects   good_condition   28600
22  17.0    new_no_defects   good_condition   38000
23  18.0    new_no_defects   good_condition   29900

In [102]:
url = 'https://2fwotdvm2o-dsn.algolia.net/1/indexes/*/queries?x-algolia-agent=Algolia%20for%20vanilla%20JavaScript%20(lite)%203.25.1%3BJS%20Helper%20(3.1.2)%3Breact%20(16.13.1)%3Breact-instantsearch%20(6.5.0)&x-algolia-application-id=2FWOTDVM2O&x-algolia-api-key=ac96de6fef0e02bb95d433d8d5c7038a'
req = requests.post(url, headers=header)
req

In [106]:
url = 'https://2fwotdvm2o-dsn.algolia.net/1/indexes/product_variants_v2/query?x-algolia-agent=Algolia for vanilla JavaScript 3.25.1&x-algolia-application-id=2FWOTDVM2O&x-algolia-api-key=ac96de6fef0e02bb95d433d8d5c7038a'
data = {"params":"distinct=true&facetFilters=()&facets=%5B%22size%22%5D&hitsPerPage=20&numericFilters=%5B%5D&page=0&query="}
r = requests.post(url, data=json.dumps(data))

print(r.json()['hits'][0])

{'product_template_id': 612859, 'shoe_condition': 'new_no_defects', 'box_condition': 'missing_lid', 'lowest_price_cents': 21500, 'instant_ship_lowest_price_cents': None, 'activity': None, 'brand_name': 'Air Jordan', 'breadcrumb_path_url': None, 'category': ['lifestyle'], 'color': 'Black', 'designer': 'Tinker Hatfield', 'details': 'Black/Black/Dark Concord', 'gender': ['men'], 'grid_glow_picture_url': 'https://image.goat.com/glow-4-5-25/375/attachments/product_template_pictures/images/044/294/657/original/612859_00.png.png', 'grid_picture_url': 'https://image.goat.com/375/attachments/product_template_pictures/images/044/294/657/original/612859_00.png.png', 'has_picture': True, 'has_under_retail_availability': False, 'keywords': [], 'main_glow_picture_url': 'https://image.goat.com/glow-4-5-25/750/attachments/product_template_pictures/images/044/294/657/original/612859_00.png.png', 'main_picture_url': 'https://image.goat.com/750/attachments/product_template_pictures/images/044/294/657/original/612859_00.png.png', 'midsole': 'Air', 'name': "Air Jordan 12 Retro 'Dark Concord'", 'nickname': 'Dark Concord', 'original_picture_url': 'https://image.goat.com/attachments/product_template_pictures/images/044/294/657/original/612859_00.png.png', 'product_category': 'shoes', 'product_type': 'sneakers', 'release_date': '2020-10-23T23:59:59.999Z', 'release_date_name': '', 'retail_price_cents': 19000, 'search_sku': 'ct8013005', 'season': None, 'season_year': None, 'silhouette': 'Air Jordan 12', 'single_gender': 'men', 'size_brand': 'air_jordan', 'size_range': [3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0], 'sku': 'CT8013 005', 'slug': 'air-jordan-12-retro-dark-concord-ct8013-005', 'special_display_price_cents': 19000, 'special_type': 'standard', 'status': 'active', 'story_html': '<p>The Air Jordan 12 Retro ‚ÄòDark Concord‚Äô showcases classic color blocking with bold Dark Concord accents on the sneaker‚Äôs Jumpman designation on the side profile along with the metallic lace loops. The rest of the upper is constructed from stitched black suede and an embroidered Jumpman branding atop the tongue.</p>\n', 'upper_material': '', 'collection_slugs': ['just-dropped', 'trending', 'air-jordan-12', 'dark-suede'], 'has_stock': True, 'size': 9.0, 'presentation_size': '9', 'release_year': 2020, 'release_month': 10, 'is_wantable': True, 'id': 612859, 'is_under_retail': False, 'is_fashion_product': False, 'is_raffle_product': False, 'resellable': True, 'size_us_men': 9.0, 'size_us_women': 10.5, 'size_us_youth': 9, 'size_us_infant': None, 'size_uk_men': 8, 'size_uk_women': 8, 'size_uk_youth': 8, 'size_uk_infant': None, 'size_eu_men': 42.5, 'size_eu_women': 42.5, 'size_eu_youth': 42.5, 'size_eu_infant': None, 'size_fr_men': 43.5, 'size_fr_women': 43.5, 'size_fr_youth': 43.5, 'size_fr_infant': None, 'size_it_men': None, 'size_it_women': None, 'size_it_youth': None, 'size_it_infant': None, 'size_jp_men': None, 'size_jp_women': None, 'size_jp_youth': None, 'size_jp_infant': None, 'lowest_price_cents_usd': 21500, 'instant_ship_lowest_price_cents_usd': None, 'retail_price_cents_usd': 19000, 'lowest_price_cents_aud': 31000, 'instant_ship_lowest_price_cents_aud': None, 'retail_price_cents_aud': 27400, 'lowest_price_cents_cad': 29000, 'instant_ship_lowest_price_cents_cad': None, 'retail_price_cents_cad': 25600, 'lowest_price_cents_cny': 146000, 'instant_ship_lowest_price_cents_cny': None, 'retail_price_cents_cny': 129000, 'lowest_price_cents_eur': 18700, 'instant_ship_lowest_price_cents_eur': None, 'retail_price_cents_eur': 16500, 'lowest_price_cents_gbp': 16900, 'instant_ship_lowest_price_cents_gbp': None, 'retail_price_cents_gbp': 14900, 'lowest_price_cents_hkd': 168600, 'instant_ship_lowest_price_cents_hkd': None, 'retail_price_cents_hkd': 149000, 'lowest_price_cents_sgd': 29800, 'instant_ship_lowest_price_cents_sgd': None, 'retail_price_cents_sgd': 26300, 'lowest_price_cents_twd': 617000, 'instant_ship_lowest_price_cents_twd': None, 'retail_price_cents_twd': 545300, 'lowest_price_cents_jpy': 2274100, 'instant_ship_lowest_price_cents_jpy': None, 'retail_price_cents_jpy': 2009700, 'lowest_price_cents_krw': 24577500, 'instant_ship_lowest_price_cents_krw': None, 'retail_price_cents_krw': 21719700, 'product_taxonomy': {}, 'objectID': '10508210', '_highlightResult': {'brand_name': {'value': 'Air Jordan', 'matchLevel': 'none', 'matchedWords': []}, 'color': {'value': 'Black', 'matchLevel': 'none', 'matchedWords': []}, 'designer': {'value': 'Tinker Hatfield', 'matchLevel': 'none', 'matchedWords': []}, 'details': {'value': 'Black/Black/Dark Concord', 'matchLevel': 'none', 'matchedWords': []}, 'gender': [{'value': 'men', 'matchLevel': 'none', 'matchedWords': []}], 'midsole': {'value': 'Air', 'matchLevel': 'none', 'matchedWords': []}, 'name': {'value': "Air Jordan 12 Retro 'Dark Concord'", 'matchLevel': 'none', 'matchedWords': []}, 'product_type': {'value': 'sneakers', 'matchLevel': 'none', 'matchedWords': []}, 'release_date_name': {'value': '', 'matchLevel': 'none', 'matchedWords': []}, 'search_sku': {'value': 'ct8013005', 'matchLevel': 'none', 'matchedWords': []}, 'silhouette': {'value': 'Air Jordan 12', 'matchLevel': 'none', 'matchedWords': []}, 'sku': {'value': 'CT8013 005', 'matchLevel': 'none', 'matchedWords': []}}}

In [110]:
url = 'https://2fwotdvm2o-dsn.algolia.net/1/indexes/product_variants_v2/query?x-algolia-agent=Algolia for vanilla JavaScript 3.25.1&x-algolia-application-id=2FWOTDVM2O&x-algolia-api-key=ac96de6fef0e02bb95d433d8d5c7038a'
data = {"params":"distinct=true&facetFilters=()&facets=%5B%22size%22%5D&hitsPerPage=20&numericFilters=%5B%5D&page=0&query="}
r = requests.post(url, data=json.dumps(data))
print('1')
df = pd.DataFrame.from_records(r.json()['hits'])
df

1

,product_template_id,shoe_condition,box_condition,lowest_price_cents,instant_ship_lowest_price_cents,activity,brand_name,breadcrumb_path_url,category,color,...,retail_price_cents_twd,lowest_price_cents_jpy,instant_ship_lowest_price_cents_jpy,retail_price_cents_jpy,lowest_price_cents_krw,instant_ship_lowest_price_cents_krw,retail_price_cents_krw,product_taxonomy,objectID,_highlightResult
0,612859,new_no_defects,missing_lid,21500,NaN,None,Air Jordan,None,[lifestyle],Black,...,545300,2274100,NaN,2009700,24577500,NaN,21719700,{},10508210,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
1,695243,new_no_defects,no_original_box,24900,NaN,None,adidas,None,[lifestyle],White,...,635900,2631000,NaN,2324600,28435500,NaN,25123700,{},10486691,"{'brand_name': {'value': 'adidas', 'matchLevel..."
2,567948,new_no_defects,good_condition,27900,NaN,None,Air Jordan,None,[lifestyle],Brown,...,487900,2951100,NaN,1798200,31893600,NaN,19433400,{},10060388,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
3,662236,new_no_defects,good_condition,53900,64300.0,None,Air Jordan,None,[lifestyle],Cream,...,645700,5701200,6801200.0,2379900,61615300,73503900.0,25720700,{},10406445,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
4,664578,new_no_defects,good_condition,52000,62800.0,None,Air Jordan,None,[lifestyle],Blue,...,717500,5500200,6642500.0,2644400,59443300,71789200.0,28578500,{},9685694,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
5,568627,new_no_defects,good_condition,22700,29600.0,None,Air Jordan,None,[lifestyle],Green,...,487900,2401100,3130900.0,1798200,25949300,33837000.0,19433400,{},9889147,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
6,631937,new_no_defects,badly_damaged,25000,NaN,None,adidas,None,[lifestyle],Black,...,631400,2644400,NaN,2327000,28578500,NaN,25149100,{},10169542,"{'brand_name': {'value': 'adidas', 'matchLevel..."
7,695795,new_no_defects,good_condition,19200,25800.0,None,Nike,None,[lifestyle],Orange,...,373100,2030900,2729000.0,1375100,21948300,29493000.0,14860900,{},10360037,"{'brand_name': {'value': 'Nike', 'matchLevel':..."
8,519961,new_no_defects,good_condition,21000,NaN,lifestyle,Air Jordan,None,[lifestyle],Blue,...,491400,2218900,NaN,1796300,23981800,NaN,19413800,{},8052924,"{'activity': {'value': 'lifestyle', 'matchLeve..."
9,603678,new_no_defects,no_original_box,100000,NaN,None,Air Jordan,None,[lifestyle],Tan,...,574000,10577300,NaN,2115500,114314000,NaN,22862800,{},8989502,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
10,482560,new_no_defects,good_condition,20500,NaN,lifestyle,Air Jordan,None,[lifestyle],Blue,...,459200,2168400,NaN,1692400,23434400,NaN,18290300,{},4378788,"{'activity': {'value': 'lifestyle', 'matchLeve..."
11,577878,new_no_defects,good_condition,27600,32500.0,None,Air Jordan,None,[lifestyle],Grey,...,645700,2919400,3437600.0,2379900,31550700,37152100.0,25720700,{},9635436,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
12,612313,new_no_defects,good_condition,24400,NaN,None,Air Jordan,None,[lifestyle],White,...,574000,2580900,NaN,2115500,27892700,NaN,22862800,{},10485178,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
13,517360,new_no_defects,good_condition,17500,NaN,lifestyle,Air Jordan,None,[lifestyle],Purple,...,491400,1849100,NaN,1796300,19984800,NaN,19413800,{},7699867,"{'activity': {'value': 'lifestyle', 'matchLeve..."
14,547548,new_no_defects,good_condition,29900,32000.0,None,Nike,None,[lifestyle],Black,...,516600,3162600,3384800.0,1903900,34179900,36580500.0,20576600,{},10021568,"{'brand_name': {'value': 'Nike', 'matchLevel':..."
15,538383,new_no_defects,good_condition,21000,NaN,lifestyle,Air Jordan,None,[lifestyle],Multi-Color,...,491400,2218900,NaN,1796300,23981800,NaN,19413800,{},9802619,"{'activity': {'value': 'lifestyle', 'matchLeve..."
16,576959,new_no_defects,badly_damaged,16000,NaN,None,Air Jordan,None,[lifestyle],Red,...,318000,1690600,NaN,1162300,18271800,NaN,12561900,{},9674660,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
17,694867,new_no_defects,good_condition,24500,NaN,None,Nike,None,[lifestyle],Green,...,520300,2588700,NaN,1901900,27978700,NaN,20555800,{},10309896,"{'brand_name': {'value': 'Nike', 'matchLevel':..."
18,505488,new_no_defects,good_condition,40000,50100.0,lifestyle,adidas,None,[lifestyle],Black,...,635900,4226400,5293600.0,2324600,45679500,57213500.0,25123700,{},1112806,"{'activity': {'value': 'lifestyle', 'matchLeve..."
19,646131,new_no_defects,good_condition,17900,20600.0,None,adidas,None,[lifestyle],White,...,660100,1893400,2179000.0,2432800,20462200,23548700.0,26292300,{},9673710,"{'brand_name': {'value': 'adidas', 'matchLevel..."

In [113]:
grid_picture_url

0    https://image.goat.com/attachments/collection_...
1    https://image.goat.com/attachments/collection_...
2    https://image.goat.com/attachments/collection_...
3    https://image.goat.com/attachments/collection_...
Name: web_picture, dtype: object

In [136]:
shoeList.drop(['shoe_condition', 'box_condition','lowest_price_cents', 'instant_ship_lowest_price_cents',
              'activity', 'breadcrumb_path_url', 'category', 'color', 'designer', 'details', 'gender',
              'grid_glow_picture_url', 'grid_picture_url', 'has_picture', 'has_under_retail_availability',
              'keywords', 'main_glow_picture_url', 'main_picture_url', 'midsole'], axis=1).head(3)

,product_template_id,brand_name,name,nickname,original_picture_url,product_category,product_type,release_date,release_date_name,retail_price_cents,...,retail_price_cents_twd,lowest_price_cents_jpy,instant_ship_lowest_price_cents_jpy,retail_price_cents_jpy,lowest_price_cents_krw,instant_ship_lowest_price_cents_krw,retail_price_cents_krw,product_taxonomy,objectID,_highlightResult
0,612859,Air Jordan,Air Jordan 12 Retro 'Dark Concord',Dark Concord,https://image.goat.com/attachments/product_tem...,shoes,sneakers,2020-10-23T23:59:59.999Z,,19000,...,545300,2274100,NaN,2009700,24577500,NaN,21719700,{},10508210,"{'brand_name': {'value': 'Air Jordan', 'matchL..."
1,695243,adidas,Yeezy Boost 350 V2 'Natural',Natural,https://image.goat.com/attachments/product_tem...,shoes,sneakers,2020-10-24T23:59:59.999Z,,22000,...,635900,2631000,NaN,2324600,28435500,NaN,25123700,{},10486691,"{'brand_name': {'value': 'adidas', 'matchLevel..."
2,567948,Air Jordan,Air Jordan 1 Retro High OG 'Dark Mocha',Dark Mocha,https://image.goat.com/attachments/product_tem...,shoes,sneakers,2020-10-31T07:00:00.000Z,,17000,...,487900,2951100,NaN,1798200,31893600,NaN,19433400,{},10060388,"{'brand_name': {'value': 'Air Jordan', 'matchL..."

,product_template_id,name,main_picture_url
0,612859,Air Jordan 12 Retro 'Dark Concord',https://image.goat.com/750/attachments/product...
1,695243,Yeezy Boost 350 V2 'Natural',https://image.goat.com/750/attachments/product...
2,567948,Air Jordan 1 Retro High OG 'Dark Mocha',https://image.goat.com/750/attachments/product...
3,662236,Off-White x Air Jordan 5 SP 'Sail',https://image.goat.com/750/attachments/product...
4,664578,Union LA x Air Jordan 4 Retro 'Off Noir',https://image.goat.com/750/attachments/product...
5,568627,Wmns Air Jordan 1 Retro High OG 'Lucky Green',https://image.goat.com/750/attachments/product...
6,631937,Yeezy Boost 350 V2 'Carbon',https://image.goat.com/750/attachments/product...
7,695795,Air Force 1 Low 'Orange Skeleton',https://image.goat.com/750/attachments/product...
8,519961,Air Jordan 1 Retro High OG 'Royal Toe',https://image.goat.com/750/attachments/product...
9,603678,Off-White x Wmns Air Jordan 4 SP 'Sail',https://image.goat.com/750/attachments/product...
10,482560,Air Jordan 1 Retro High OG 'Obsidian',https://image.goat.com/750/attachments/product...
11,577878,Paris Saint-Germain x Air Jordan 4 Retro 'Bord...,https://image.goat.com/750/attachments/product...
12,612313,Air Jordan 4 Retro OG 'Fire Red' 2020,https://image.goat.com/750/attachments/product...
13,517360,Air Jordan 1 Retro High OG 'Court Purple 2.0',https://image.goat.com/750/attachments/product...
14,547548,Off-White x Air Rubber Dunk 'Green Strike',https://image.goat.com/750/attachments/product...
15,538383,Air Jordan 1 Retro High 'Tokyo Bio Hack',https://image.goat.com/750/attachments/product...
16,576959,Air Jordan 1 Mid 'Chicago Black Toe',https://image.goat.com/750/attachments/product...
17,694867,Supreme x Air Max Plus TN 'Mean Green',https://image.goat.com/750/attachments/product...
18,505488,Yeezy Boost 350 V2 'Black Non-Reflective',https://image.goat.com/750/attachments/product...
19,646131,Yeezy Boost 380 'Pepper Non-Reflective',https://image.goat.com/750/attachments/product...

In [139]:
shoeList['grid_picture_url']

0     https://image.goat.com/375/attachments/product...
1     https://image.goat.com/375/attachments/product...
2     https://image.goat.com/375/attachments/product...
3     https://image.goat.com/375/attachments/product...
4     https://image.goat.com/375/attachments/product...
5     https://image.goat.com/375/attachments/product...
6     https://image.goat.com/375/attachments/product...
7     https://image.goat.com/375/attachments/product...
8     https://image.goat.com/375/attachments/product...
9     https://image.goat.com/375/attachments/product...
10    https://image.goat.com/375/attachments/product...
11    https://image.goat.com/375/attachments/product...
12    https://image.goat.com/375/attachments/product...
13    https://image.goat.com/375/attachments/product...
14    https://image.goat.com/375/attachments/product...
15    https://image.goat.com/375/attachments/product...
16    https://image.goat.com/375/attachments/product...
17    https://image.goat.com/375/attachments/product...
18    https://image.goat.com/375/attachments/product...
19    https://image.goat.com/375/attachments/product...
Name: grid_picture_url, dtype: object