In [1]:
import requests
import json
from bs4 import BeautifulSoup as bs
import pandas as pd
import re
import numpy as np

In [67]:
for i in range(1):
    print(i)

0

In [75]:
SEARCH_TERM='jordan 1'
PAGE_COUNT=1


#Get top shoe IDs
url = 'https://2fwotdvm2o-dsn.algolia.net/1/indexes/product_variants_v2/query?x-algolia-agent=Algolia for vanilla JavaScript 3.25.1&x-algolia-application-id=2FWOTDVM2O&x-algolia-api-key=ac96de6fef0e02bb95d433d8d5c7038a'

shoeList = pd.DataFrame(columns=['product_template_id', 'name', 'main_picture_url'])

for i in range(PAGE_COUNT):
    data = {'distinct':'true', 'hitsPerPage':'50','page':i, 'query': SEARCH_TERM}
    r = requests.post(url, data=json.dumps(data))
    l = pd.DataFrame.from_records(r.json()['hits'])
    l = l[['product_template_id', 'name', 'main_picture_url']]
    shoeList = shoeList.append(l)
shoeList.rename(columns={'product_template_id': 'id', 'main_picture_url': 'picture'}, inplace=True)
shoeList

,id,name,picture
0,567948,Air Jordan 1 Retro High OG 'Dark Mocha',https://image.goat.com/750/attachments/product...
1,482560,Air Jordan 1 Retro High OG 'Obsidian',https://image.goat.com/750/attachments/product...
2,519961,Air Jordan 1 Retro High OG 'Royal Toe',https://image.goat.com/750/attachments/product...
3,491212,Air Jordan 1 Retro High OG 'Gym Red',https://image.goat.com/750/attachments/product...
4,485842,Air Jordan 1 Retro High OG 'Crimson Tint',https://image.goat.com/750/attachments/product...
5,602213,Air Jordan 1 Retro High OG 'Volt Gold',https://image.goat.com/750/attachments/product...
6,517360,Air Jordan 1 Retro High OG 'Court Purple 2.0',https://image.goat.com/750/attachments/product...
7,618984,Air Jordan 1 Retro High co.JP 'Midnight Navy' ...,https://image.goat.com/750/attachments/product...
8,693245,Air Jordan 1 Mid 'Banned',https://image.goat.com/750/attachments/product...
9,576959,Air Jordan 1 Mid 'Chicago Black Toe',https://image.goat.com/750/attachments/product...
10,496584,Air Jordan 1 Retro High OG 'Pine Green 2.0',https://image.goat.com/750/attachments/product...
11,697103,Air Jordan 1 Retro High OG GS 'Dark Mocha',https://image.goat.com/750/attachments/product...
12,404758,Air Jordan 1 Retro High OG 'Turbo Green',https://image.goat.com/750/attachments/product...
13,549111,Air Jordan 1 Retro High OG 'Smoke Grey',https://image.goat.com/750/attachments/product...
14,569208,Dior x Air Jordan 1 High,https://image.goat.com/750/attachments/product...
15,599627,Air Jordan 1 Retro High OG 'University Blue',https://image.goat.com/750/attachments/product...
16,404759,Air Jordan 1 Retro High OG 'Neutral Grey',https://image.goat.com/750/attachments/product...
17,620007,J. Balvin x Air Jordan 1 Retro OG High 'Colore...,https://image.goat.com/750/attachments/product...
18,488879,Travis Scott x Air Jordan 1 Retro High OG 'Mocha',https://image.goat.com/750/attachments/product...
19,715917,Air Jordan 1 Mid SE GS 'All-Star Weekend',https://image.goat.com/750/attachments/product...
20,411930,Wmns Air Jordan 1 Retro High OG 'Blue Chill',https://image.goat.com/750/attachments/product...
21,538383,Air Jordan 1 Retro High 'Tokyo Bio Hack',https://image.goat.com/750/attachments/product...
22,567331,Air Jordan 1 Retro High OG 'Black Metallic Gold',https://image.goat.com/750/attachments/product...
23,529362,Wmns Air Jordan 1 High OG 'UNC To Chicago',https://image.goat.com/750/attachments/product...
24,144690,Air Jordan 1 Retro High OG 'Bred Toe',https://image.goat.com/750/attachments/product...
25,478959,Air Jordan 1 Mid 'Pine Green',https://image.goat.com/750/attachments/product...
26,698912,Wmns Air Jordan 1 Mid SE 'Gold Pendants',https://image.goat.com/750/attachments/product...
27,529531,Air Jordan 1 Retro High OG 'Fearless',https://image.goat.com/750/attachments/product...
28,218099,Air Jordan 1 Retro High OG 'Shadow' 2018,https://image.goat.com/750/attachments/product...
29,683457,Air Jordan 1 Mid 'White Shadow',https://image.goat.com/750/attachments/product...
30,508079,Air Jordan 1 Retro High OG 'Bloodline',https://image.goat.com/750/attachments/product...
31,479026,Air Jordan 1 Retro High OG 'Shattered Backboar...,https://image.goat.com/750/attachments/product...
32,335047,Off-White x Air Jordan 1 Retro High OG 'UNC',https://image.goat.com/750/attachments/product...
33,575386,Air Jordan 1 Mid 'Smoke Grey',https://image.goat.com/750/attachments/product...
34,585314,Wmns Air Jordan 1 Low 'UNC',https://image.goat.com/750/attachments/product...
35,568627,Wmns Air Jordan 1 Retro High OG 'Lucky Green',https://image.goat.com/750/attachments/product...
36,509480,Wmns Air Jordan 1 Retro High OG 'Twist',https://image.goat.com/750/attachments/product...
37,695336,Air Jordan 1 Low 'Court Purple',https://image.goat.com/750/attachments/product...
38,514232,Air Jordan 1 Mid 'Shattered Backboard',https://image.goat.com/750/attachments/product...
39,685232,Wmns Air Jordan 1 Mid 'Barely Orange',https://image.goat.com/750/attachments/product...
40,563395,Air Jordan 1 Mid 'Black Hyper Royal',https://image.goat.com/750/attachments/product...
41,402491,Air Jordan 1 Retro High OG 'Rookie of the Year',https://image.goat.com/750/attachments/product...
42,616037,Air Jordan 1 Retro High OG GS 'Royal Toe',https://image.goat.com/750/attachments/product...
43,522750,Travis Scott x Air Jordan 1 Low 'Mocha',https://image.goat.com/750/attachments/product...
44,508716,Wmns Air Jordan 1 Retro High 'Satin Black Toe',https://image.goat.com/750/attachments/product...
45,687897,Air Jordan 1 Low 'Light Smoke Grey',https://image.goat.com/750/attachments/product...
46,576956,Air Jordan 1 Low 'Gym Red',https://image.goat.com/750/attachments/product...
47,411931,Air Jordan 1 Retro High OG 'Phantom',https://image.goat.com/750/attachments/product...
48,651098,Air Jordan 1 Low 'Reverse Bred',https://image.goat.com/750/attachments/product...
49,377542,Air Jordan 1 Retro High OG 'Pine Green',https://image.goat.com/750/attachments/product...

In [79]:
shoeDict = {}
for _, shoe in shoeList.iterrows():
    print('Processing', shoe['name'])
    #Get shoe info
    url = 'https://www.goat.com/web-api/v1/product_variants'
    param = {'productTemplateId':shoe['id']} 
    header = {'User-Agent': 'Mozilla/5.0'}
    req = requests.get(url, headers=header, params=param)
    jsonInfo = req.json()
    #Turn to dataframe and clean up
    s = pd.DataFrame.from_records(jsonInfo)
    s.drop(['sizeOption', 'lowestPriceCentsByWarehouse', 'instantShipLowestPriceCents'], axis=1, inplace=True)
    s.rename(columns={'lowestPriceCents': 'price'}, inplace=True)
    s['price'] = [re.findall('(\d+)00', str(x))[0] for x in s['price']]
    s['price'] = s['price'].astype(int)
    shoeDict[shoe['name']] = s

Processing Air Jordan 1 Retro High OG 'Dark Mocha'

ValueError: If using all scalar values, you must pass an index

In [62]:
#compare new_with_defect any box cond with new_no_defect any box cond
for name, df in shoeDict.items():
    p = df[(df.shoeCondition != 'used')]
    withDefectDf = p.loc[p['shoeCondition']=='new_with_defects']
    noDefectDf = p.loc[p['shoeCondition']=='new_no_defects']
    
    withDefectDf = withDefectDf.loc[withDefectDf['size'].isin(noDefectDf['size'])]
    noDefectDf = noDefectDf.loc[noDefectDf['size'].isin(withDefectDf['size'])]
    
    withDefectDf = withDefectDf.groupby('size').min()
    noDefectDf = noDefectDf.groupby('size').min()
    diff = {}
    for s in withDefectDf.index:
        diff[s] = noDefectDf.loc[s]['price'] - withDefectDf.loc[s]['price']
    for i in list(diff.keys()):
        if diff[i] <= 0:
            del diff[i]
    if len(diff) != 0:
        print(name, '\n', diff)

Air Jordan 1 Mid 'Día de Muertos'
 {6.5: 25}
Luka Doncic x Air Jordan 1 Mid SE 'Pregame Pack - Mindfulness'
 {9.5: 43, 10.5: 19, 11.0: 5}
Air Jordan 1 Mid SE 'Varsity Purple'
 {8.0: 28, 11.5: 26}
Wmns Air Jordan 1 Low 'Triple White'
 {6.0: 26}
Wmns Air Jordan 1 Mid 'White University Red'
 {7.0: 42}
Air Jordan 1 Low 'Court Purple'
 {9.5: 15}
Air Jordan 1 Retro High OG 'Couture'
 {13.0: 15}
Air Jordan 1 Mid 'Noble Red'
 {9.5: 29}
Air Jordan 1 Retro High Zoom 'Fearless'
 {8.0: 31, 9.0: 28, 11.0: 27, 13.0: 54, 14.0: 5}
Air Jordan 1 Mid SE 'Olympic'
 {10.5: 25, 13.0: 48}
Fragment Design x Air Jordan 1 Retro High OG
 {8.5: 2732}
Air Jordan 1 Retro High OG GS 'Shadow' 2018
 {4.0: 36, 6.0: 71, 6.5: 75, 7.0: 50}
Air Jordan 1 Mid SE 'Cyber Active Fuchsia'
 {9.5: 20}
Air Jordan 1 Retro High OG BG 'Top 3'
 {7.0: 393}
Maison Chateau Rouge x Air Jordan 1 Mid SE 'Fearless'
 {9.5: 72, 12.0: 140}
Air Jordan 1 Retro High OG 'Metallic Red'
 {8.5: 7, 11.0: 20}
Air Jordan 1 Retro High OG NRG 'Not For Resale'
 {8.5: 62, 14.0: 167, 16.0: 1203}
Air Jordan 1 Mid 'Banned'
 {9.0: 124, 10.0: 66, 10.5: 53}
Air Jordan 1 Mid 'Sanded Purple'
 {9.5: 40, 10.5: 108, 11.5: 51}
Air Jordan 1 Retro High OG 'David Letterman'
 {10.0: 69}
Air Jordan 1 Mid 'White Deep Royal Blue'
 {7.5: 15, 10.0: 55}
Air Jordan 1 Low 'Noble Red'
 {9.5: 9}
Air Jordan 1 Low 'Reverse Bred'
 {8.0: 1, 9.0: 3}
Air Jordan 1 Retro Low OG 'Chicago'
 {13.0: 340}

In [42]:
for i in list(diff.keys()):
    if diff[i] <= 0:
        del diff[i]
diff

{8.5: 9, 10.5: 8, 11.5: 21, 13.0: 23}

In [64]:
len(shoeDict)

50

In [32]:
withDefectDf

       shoeCondition    boxCondition  price
size
5.5   new_no_defects  good_condition   2000
7.0   new_no_defects  good_condition   1070
7.5   new_no_defects  good_condition   2000
8.0   new_no_defects  good_condition    515
8.5   new_no_defects   badly_damaged    520
9.0   new_no_defects  good_condition    545
9.5   new_no_defects   badly_damaged    460
10.0  new_no_defects   badly_damaged    480
10.5  new_no_defects   badly_damaged    415
11.0  new_no_defects   badly_damaged    447
11.5  new_no_defects  good_condition    439
12.0  new_no_defects   badly_damaged    450
12.5  new_no_defects  good_condition    712
13.0  new_no_defects   badly_damaged    440
14.0  new_no_defects   badly_damaged    346
15.0  new_no_defects  good_condition    610

In [31]:
noDefectDf

       shoeCondition    boxCondition  price
size
5.5   new_no_defects  good_condition   2000
7.0   new_no_defects  good_condition   1070
7.5   new_no_defects  good_condition   2000
8.0   new_no_defects  good_condition    515
8.5   new_no_defects   badly_damaged    520
9.0   new_no_defects  good_condition    545
9.5   new_no_defects   badly_damaged    460
10.0  new_no_defects   badly_damaged    480
10.5  new_no_defects   badly_damaged    415
11.0  new_no_defects   badly_damaged    447
11.5  new_no_defects  good_condition    439
12.0  new_no_defects   badly_damaged    450
12.5  new_no_defects  good_condition    712
13.0  new_no_defects   badly_damaged    440
14.0  new_no_defects   badly_damaged    346
15.0  new_no_defects  good_condition    610

In [30]:
df

    size     shoeCondition     boxCondition  price
0    5.5    new_no_defects   good_condition   2000
1    7.0    new_no_defects   good_condition   1070
2    7.5    new_no_defects   good_condition   2000
3    8.0    new_no_defects   good_condition    515
4    8.5    new_no_defects   good_condition    529
5    8.5              used  no_original_box    285
6    8.5              used   good_condition    460
7    8.5  new_with_defects   good_condition    699
8    8.5  new_with_defects    badly_damaged    520
9    9.0    new_no_defects   good_condition    545
10   9.0              used   good_condition    485
11   9.5    new_no_defects   good_condition    460
12   9.5              used   good_condition    380
13   9.5    new_no_defects    badly_damaged    480
14  10.0    new_no_defects   good_condition    480
15  10.0    new_no_defects    badly_damaged    500
16  10.0              used   good_condition    370
17  10.0              used  no_original_box    280
18  10.0              used    badly_damaged    420
19  10.0  new_with_defects    badly_damaged    550
20  10.5              used   good_condition    300
21  10.5              used  no_original_box    295
22  10.5    new_no_defects   good_condition    423
23  10.5    new_no_defects    badly_damaged    447
24  10.5  new_with_defects   good_condition    415
25  11.0              used   good_condition    280
26  11.0    new_no_defects   good_condition    447
27  11.0              used    badly_damaged    300
28  11.0              used  no_original_box    280
29  11.0              used      missing_lid    325
30  11.0    new_no_defects    badly_damaged    600
31  11.5              used  no_original_box    300
32  11.5    new_no_defects   good_condition    460
33  11.5  new_with_defects   good_condition    439
34  11.5              used    badly_damaged    338
35  11.5              used   good_condition    310
36  12.0    new_no_defects    badly_damaged    460
37  12.0    new_no_defects   good_condition    450
38  12.0              used  no_original_box    297
39  12.0              used   good_condition    319
40  12.0              used    badly_damaged    320
41  12.0    new_no_defects  no_original_box    539
42  12.5    new_no_defects   good_condition    712
43  13.0  new_with_defects   good_condition    440
44  13.0    new_no_defects   good_condition    475
45  13.0              used  no_original_box    264
46  13.0    new_no_defects  no_original_box    463
47  13.0    new_no_defects    badly_damaged    506
48  14.0    new_no_defects  no_original_box    347
49  14.0    new_no_defects   good_condition    387
50  14.0    new_no_defects    badly_damaged    346
51  14.0              used    badly_damaged    282
52  14.0              used   good_condition    300
53  15.0    new_no_defects   good_condition    610

In [26]:
diff = {}

diff

8.5
520
10.0
550
10.5
415
11.5
439
13.0
440

{8.5: 0, 10.0: -70, 10.5: 0, 11.5: 0, 13.0: 0}

In [5]:
for name, df in shoeDict.items():
    print(name)
    p = df[(df.shoeCondition != 'new_no_defects')]
    display(p)

Air Jordan 1 Retro High OG 'Dark Mocha'

    size     shoeCondition     boxCondition  price
7    6.0  new_with_defects   good_condition    500
14   8.5              used   good_condition    450
16   9.0              used  no_original_box    440
21   9.5  new_with_defects   good_condition    470
22   9.5              used   good_condition    448
23   9.5  new_with_defects  no_original_box    627
24  10.0              used   good_condition    460
26  10.0  new_with_defects   good_condition    448
27  10.5              used   good_condition    410
30  10.5  new_with_defects    badly_damaged   2000
32  11.0              used    badly_damaged    470
33  11.0              used   good_condition    440
35  11.0  new_with_defects   good_condition    449
38  12.0  new_with_defects   good_condition    757
41  12.0              used   good_condition    425
44  13.0              used   good_condition    420
45  13.0  new_with_defects    badly_damaged    420

Air Jordan 1 Retro High OG 'Obsidian'

    size     shoeCondition     boxCondition  price
3    7.5              used   good_condition    550
4    7.5  new_with_defects   good_condition    605
8    8.0              used   good_condition    490
9    8.0              used    badly_damaged    486
10   8.0  new_with_defects   good_condition    488
13   8.5              used  no_original_box    425
14   8.5  new_with_defects   good_condition    525
15   8.5              used   good_condition    400
17   9.0  new_with_defects   good_condition    495
18   9.0              used  no_original_box    477
20   9.0              used   good_condition    410
22   9.5  new_with_defects   good_condition   1997
24   9.5              used   good_condition    395
26  10.0              used   good_condition    350
27  10.0              used  no_original_box    400
29  10.0              used    badly_damaged    488
31  10.5              used    badly_damaged    368
32  10.5              used   good_condition    355
33  10.5              used  no_original_box    380
35  11.0              used   good_condition    330
36  11.0              used    badly_damaged    450
37  11.0  new_with_defects   good_condition    500
40  11.5              used   good_condition    360
43  12.0              used  no_original_box    304
45  12.0              used   good_condition    340
46  12.0  new_with_defects    badly_damaged    475
47  12.0              used    badly_damaged    430
48  12.0              used      missing_lid    339
50  12.5              used   good_condition    515
52  13.0              used   good_condition    330
53  13.0              used      missing_lid    360
54  13.0              used    badly_damaged    395
55  14.0              used    badly_damaged    297
56  14.0              used   good_condition    300

Air Jordan 1 Retro High OG 'Royal Toe'

    size     shoeCondition     boxCondition  price
5    6.5              used   good_condition    545
6    7.0              used   good_condition    350
8    7.0  new_with_defects   good_condition    503
11   7.5  new_with_defects   good_condition    379
13   8.0              used   good_condition    335
14   8.0              used  no_original_box    275
15   8.0  new_with_defects   good_condition    333
16   8.0              used    badly_damaged    345
18   8.0              used      missing_lid    300
20   8.5              used   good_condition    300
23   9.0  new_with_defects   good_condition    323
25   9.0              used   good_condition    305
28   9.0              used  no_original_box    260
30   9.5              used   good_condition    275
34   9.5              used  no_original_box    380
37  10.0              used   good_condition    289
38  10.0  new_with_defects   good_condition    320
39  10.0              used  no_original_box    290
41  10.0  new_with_defects    badly_damaged    310
42  10.5              used  no_original_box    320
45  10.5              used   good_condition    286
46  10.5  new_with_defects   good_condition    380
47  10.5              used    badly_damaged    318
50  11.0              used   good_condition    300
51  11.0              used  no_original_box    301
52  11.0              used    badly_damaged    325
54  11.5              used   good_condition    296
58  11.5              used  no_original_box    343
59  12.0              used   good_condition    298
61  12.0  new_with_defects   good_condition    325
63  12.0              used  no_original_box    315
64  12.0              used    badly_damaged    310
67  13.0              used   good_condition    300
69  13.0              used  no_original_box    299
71  14.0              used  no_original_box    227
73  14.0              used   good_condition    270

Air Jordan 1 Retro High OG 'Gym Red'

    size     shoeCondition     boxCondition  price
5    8.0              used  no_original_box    330
6    8.0              used   good_condition    300
7    8.5              used    badly_damaged    300
8    8.5              used  no_original_box    346
9    8.5              used   good_condition    288
10   8.5  new_with_defects   good_condition    291
14   9.0              used    badly_damaged    280
15   9.0              used   good_condition    269
16   9.0  new_with_defects   good_condition    280
19   9.5              used   good_condition    300
20   9.5              used  no_original_box    330
22  10.0              used   good_condition    225
24  10.0  new_with_defects   good_condition   1900
27  10.5              used   good_condition    235
28  10.5              used    badly_damaged    227
29  10.5              used  no_original_box    180
30  10.5  new_with_defects    badly_damaged    321
34  11.0              used   good_condition    250
36  11.0              used    badly_damaged    270
37  11.0  new_with_defects   good_condition    309
38  11.0              used  no_original_box    220
39  11.5              used    badly_damaged    227
41  11.5              used   good_condition    215
44  12.0              used  no_original_box    223
45  12.0              used   good_condition    199
46  12.0              used    badly_damaged    195
48  12.0              used      missing_lid    227
52  13.0              used    badly_damaged    240
53  13.0              used   good_condition    160
56  14.0              used  no_original_box    200
59  14.0              used   good_condition    183
65  16.0              used    badly_damaged    150

Air Jordan 1 Retro High OG 'Crimson Tint'

    size     shoeCondition     boxCondition  price
1    7.0  new_with_defects   good_condition    436
3    7.5  new_with_defects   good_condition    390
6    8.0              used   good_condition    315
7    8.0              used    badly_damaged    310
8    8.0              used  no_original_box    290
9    8.0  new_with_defects   good_condition    300
10   8.5              used  no_original_box    285
11   8.5              used   good_condition    280
14   9.0              used   good_condition    220
16   9.0              used  no_original_box    244
17   9.0  new_with_defects   good_condition    296
18   9.5              used   good_condition    233
20   9.5  new_with_defects   good_condition    325
21   9.5              used  no_original_box    250
23  10.0              used    badly_damaged    275
24  10.0              used   good_condition    245
25  10.0              used  no_original_box    210
26  10.0  new_with_defects   good_condition    325
28  10.5              used   good_condition    220
29  10.5              used    badly_damaged    245
30  10.5              used  no_original_box    250
31  11.0              used   good_condition    230
33  11.0  new_with_defects    badly_damaged    315
34  11.0              used    badly_damaged    285
35  11.0              used  no_original_box    305
37  11.5              used    badly_damaged    220
38  11.5              used  no_original_box    190
39  11.5              used   good_condition    200
40  11.5  new_with_defects   good_condition    352
41  11.5  new_with_defects    badly_damaged    315
42  11.5  new_with_defects  no_original_box    266
43  12.0              used   good_condition    220
44  12.0              used  no_original_box    225
45  12.0  new_with_defects   good_condition    298
47  12.0              used    badly_damaged    250
48  12.0  new_with_defects      missing_lid    319
49  12.5              used    badly_damaged    249
51  13.0              used   good_condition    230
53  13.0              used    badly_damaged    206
54  13.0              used  no_original_box    185
55  14.0              used    badly_damaged    200
57  14.0  new_with_defects    badly_damaged    315
58  14.0              used      missing_lid    194
59  14.0              used   good_condition    225
61  15.0              used      missing_lid    222

Air Jordan 1 Retro High OG 'Court Purple 2.0'

    size     shoeCondition     boxCondition  price
3    5.0              used   good_condition    385
6    5.5              used   good_condition    450
8    6.0              used   good_condition    339
13   7.5              used   good_condition    309
14   7.5  new_with_defects   good_condition    350
15   8.0              used   good_condition    300
18   8.0  new_with_defects   good_condition    350
19   8.5              used   good_condition    317
23   9.0              used   good_condition    280
25   9.0  new_with_defects   good_condition    351
27   9.0  new_with_defects    badly_damaged    353
29   9.5              used   good_condition    295
30   9.5  new_with_defects   good_condition    322
34  10.0              used   good_condition    260
35  10.0  new_with_defects      missing_lid    450
36  10.0              used    badly_damaged    312
38  10.0              used  no_original_box    230
39  10.0  new_with_defects    badly_damaged    390
41  10.5              used   good_condition    290
43  10.5              used  no_original_box    250
44  10.5  new_with_defects   good_condition    315
46  11.0              used   good_condition    278
47  11.0              used  no_original_box    290
49  11.0  new_with_defects   good_condition    323
50  11.5              used   good_condition    275
53  11.5              used    badly_damaged    310
56  12.0              used   good_condition    260
57  12.0  new_with_defects   good_condition    324
62  12.5              used   good_condition    260
64  13.0              used   good_condition    310
65  13.0              used  no_original_box    314
69  15.0              used   good_condition    400
74  18.0  new_with_defects   good_condition    190

Air Jordan 1 Retro High co.JP 'Midnight Navy' 2020

    size     shoeCondition     boxCondition  price
10   8.0              used  no_original_box    270
11   8.5              used   good_condition    288
15   9.0              used   good_condition    342
18   9.5  new_with_defects   good_condition    300
20  10.5              used    badly_damaged    275
25  11.0  new_with_defects   good_condition    270
26  11.5              used  no_original_box    269
27  11.5              used   good_condition    325

Air Jordan 1 Retro High OG 'Volt Gold'

    size     shoeCondition    boxCondition  price
13   9.5  new_with_defects  good_condition    400

Air Jordan 1 Mid 'Banned'

    size     shoeCondition     boxCondition  price
2    7.0  new_with_defects   good_condition    215
5    7.5  new_with_defects   good_condition    180
7    8.0  new_with_defects    badly_damaged    160
9    8.0  new_with_defects   good_condition    156
17   9.5              used   good_condition    144
18   9.5  new_with_defects   good_condition    150
21  10.0  new_with_defects   good_condition    147
23  10.5              used   good_condition    135
24  10.5  new_with_defects    badly_damaged    165
26  10.5  new_with_defects   good_condition    160
30  11.0  new_with_defects   good_condition    205
31  11.0              used   good_condition    145
34  12.0  new_with_defects  no_original_box    144
38  12.0  new_with_defects   good_condition    153

Air Jordan 1 Mid 'Chicago Black Toe'

    size     shoeCondition     boxCondition  price
7    7.0  new_with_defects   good_condition    350
11   7.5              used   good_condition    210
16   8.0              used  no_original_box    150
20   8.5              used  no_original_box    190
22   9.0              used   good_condition    197
23   9.0              used  no_original_box    220
24   9.0              used    badly_damaged    130
29   9.5              used    badly_damaged    219
30   9.5              used   good_condition    210
32  10.0  new_with_defects   good_condition    199
33  10.0              used   good_condition    200
37  10.5              used   good_condition    200
39  10.5              used  no_original_box    195
43  11.0              used   good_condition    215
46  11.5              used    badly_damaged    205
47  11.5              used  no_original_box    120
48  12.0              used   good_condition    216
54  13.0              used  no_original_box    185
55  13.0              used   good_condition    230
56  13.0  new_with_defects   good_condition    296
58  14.0              used   good_condition    180

Air Jordan 1 Retro High OG 'Pine Green 2.0'

    size     shoeCondition     boxCondition  price
2    7.5              used   good_condition    285
3    8.0              used   good_condition    240
5    8.0              used  no_original_box    238
6    8.0              used    badly_damaged    258
8    8.0  new_with_defects    badly_damaged    550
10   8.0  new_with_defects   good_condition    335
11   8.5              used   good_condition    260
13   8.5              used  no_original_box    224
15   8.5              used    badly_damaged    250
18   9.0  new_with_defects    badly_damaged    264
19   9.0              used  no_original_box    235
21   9.0              used   good_condition    230
22   9.0  new_with_defects   good_condition    280
23   9.0  new_with_defects      missing_lid    270
26   9.5              used   good_condition    240
27   9.5              used  no_original_box    235
28   9.5  new_with_defects   good_condition    271
30  10.0              used   good_condition    200
31  10.0              used    badly_damaged    250
32  10.0              used      missing_lid    275
35  10.0  new_with_defects    badly_damaged    285
37  10.5              used   good_condition    250
39  10.5  new_with_defects   good_condition    330
42  11.0              used  no_original_box    239
43  11.0              used   good_condition    250
46  11.5              used   good_condition    250
48  12.0              used   good_condition    271
49  12.0              used  no_original_box    260
50  12.0              used    badly_damaged    270
54  13.0              used   good_condition    270
55  13.0              used  no_original_box    255
57  14.0              used      missing_lid    255
58  14.0              used   good_condition    260
62  16.0              used    badly_damaged    210

Air Jordan 1 Retro High OG GS 'Dark Mocha'

    size     shoeCondition    boxCondition  price
3    4.0              used  good_condition    430
5    4.5  new_with_defects  good_condition    515
8    5.5  new_with_defects  good_condition    513
12   7.0  new_with_defects  good_condition    445

Air Jordan 1 Retro High OG 'Turbo Green'

    size     shoeCondition     boxCondition  price
2    7.5  new_with_defects   good_condition    620
4    8.0              used   good_condition    470
7    8.5              used   good_condition    390
8    8.5  new_with_defects   good_condition    505
9    8.5              used    badly_damaged    450
11   9.0              used   good_condition    440
12   9.0              used  no_original_box    430
13   9.0              used    badly_damaged    380
14   9.0  new_with_defects   good_condition    481
15   9.5              used   good_condition    499
17   9.5              used    badly_damaged    420
18   9.5              used  no_original_box    325
20  10.0              used   good_condition    370
21  10.0              used    badly_damaged    370
23  10.0              used  no_original_box    400
24  10.0  new_with_defects  no_original_box    490
25  10.0  new_with_defects    badly_damaged    520
26  10.5              used  no_original_box    340
28  10.5              used   good_condition    300
29  10.5              used    badly_damaged    355
32  11.0              used    badly_damaged    375
33  11.0              used   good_condition    293
34  11.0              used  no_original_box    300
36  11.5  new_with_defects  no_original_box    450
37  11.5  new_with_defects   good_condition    520
38  11.5              used    badly_damaged    279
39  11.5              used  no_original_box    287
40  11.5              used   good_condition    315
42  12.0  new_with_defects  no_original_box    491
43  12.0              used   good_condition    385
44  12.0              used    badly_damaged    404
45  12.0              used      missing_lid    418
46  12.5              used   good_condition    410
49  12.5              used  no_original_box    365
51  13.0              used    badly_damaged    295
52  13.0              used  no_original_box    300
53  13.0              used   good_condition    318
55  14.0              used   good_condition    440
56  14.0              used  no_original_box    300
59  14.0              used    badly_damaged    330
60  15.0              used  no_original_box    280
67  16.0              used  no_original_box    225

Air Jordan 1 Retro High OG 'Smoke Grey'

    size     shoeCondition     boxCondition  price
5    7.0              used   good_condition    310
6    7.5  new_with_defects   good_condition    340
9    8.0              used   good_condition    250
12   8.5              used  no_original_box    330
13   8.5              used   good_condition    235
16   9.0              used    badly_damaged    277
18   9.0  new_with_defects   good_condition    305
19   9.0              used  no_original_box    300
20   9.0              used   good_condition    305
22   9.5              used   good_condition    280
25  10.0              used   good_condition    270
26  10.0  new_with_defects    badly_damaged    293
28  10.0  new_with_defects   good_condition    295
29  10.5              used   good_condition    290
31  10.5  new_with_defects   good_condition    304
33  10.5              used  no_original_box    269
34  10.5  new_with_defects    badly_damaged    310
36  11.0  new_with_defects   good_condition    285
37  11.0              used   good_condition    279
40  11.0  new_with_defects    badly_damaged    315
43  11.5              used   good_condition    270
45  11.5              used  no_original_box    300
48  12.0              used   good_condition    289
51  12.5  new_with_defects   good_condition    339
54  13.0              used   good_condition    245
57  14.0              used   good_condition    285

Dior x Air Jordan 1 High

    size     shoeCondition     boxCondition  price
6    8.0              used  no_original_box   6549
8    8.5  new_with_defects    badly_damaged   7530
11   9.0  new_with_defects    badly_damaged   7976
13   9.5              used   good_condition   8686
14  10.0              used   good_condition   9520
15  10.0  new_with_defects   good_condition  11803
18  10.5              used  no_original_box   7000
20  10.5  new_with_defects    badly_damaged   9000
22  11.0              used   good_condition   7500

Air Jordan 1 Retro High OG 'University Blue'

    size     shoeCondition    boxCondition  price
2    8.0  new_with_defects  good_condition    600
12  10.5  new_with_defects   badly_damaged    830

Air Jordan 1 Retro High OG 'Neutral Grey'

    size     shoeCondition     boxCondition  price
0    7.0              used  no_original_box    400
5    8.5              used  no_original_box    260
6    8.5              used   good_condition    265
8    8.5  new_with_defects  no_original_box    338
9    9.0              used    badly_damaged    300
10   9.0              used   good_condition    275
12   9.0              used  no_original_box    260
13   9.5  new_with_defects   good_condition    292
14   9.5              used  no_original_box    250
15   9.5              used    badly_damaged    221
17   9.5              used   good_condition    220
18  10.0              used      missing_lid    245
19  10.0              used   good_condition    199
20  10.0              used    badly_damaged    271
21  10.0              used  no_original_box    218
24  10.5              used  no_original_box    190
25  10.5              used   good_condition    201
26  10.5  new_with_defects   good_condition    328
27  10.5              used    badly_damaged    199
29  11.0  new_with_defects  no_original_box    275
31  11.0              used  no_original_box    145
32  11.0              used    badly_damaged    235
33  11.0              used   good_condition    191
38  11.5              used   good_condition    180
39  11.5              used  no_original_box    160
40  12.0              used  no_original_box    157
41  12.0              used   good_condition    180
43  12.5              used   good_condition    260
44  12.5              used    badly_damaged    195
46  13.0  new_with_defects   good_condition    283
47  13.0              used  no_original_box    175
48  13.0              used    badly_damaged    249
49  13.0              used   good_condition    233
53  14.0              used   good_condition    175

J. Balvin x Air Jordan 1 Retro OG High 'Colores Y Vibras'

    size     shoeCondition    boxCondition  price
19   9.5  new_with_defects  good_condition    560
23  10.5  new_with_defects  good_condition    600
27  11.5  new_with_defects   badly_damaged    710

Travis Scott x Air Jordan 1 Retro High OG 'Mocha'

    size     shoeCondition     boxCondition  price
8    6.5              used    badly_damaged   2699
13   7.5  new_with_defects  no_original_box   2305
15   8.0              used    badly_damaged   1480
18   8.0              used  no_original_box   1448
20   8.0              used   good_condition   1360
22   8.5              used  no_original_box   1397
25   8.5              used    badly_damaged   2105
26   8.5              used   good_condition   1500
27   8.5  new_with_defects  no_original_box   1830
28   9.0  new_with_defects   good_condition   1808
30   9.0              used  no_original_box   1360
32   9.0              used   good_condition   1800
36   9.5              used  no_original_box   1222
37   9.5  new_with_defects   good_condition   1800
38   9.5              used   good_condition   1550
40   9.5              used    badly_damaged   1800
43  10.0  new_with_defects   good_condition   3000
44  10.0              used  no_original_box   1443
45  10.0              used   good_condition   1400
47  10.0              used    badly_damaged   1500
49  10.5              used  no_original_box   1111
50  10.5              used   good_condition   1142
52  10.5              used    badly_damaged   1295
53  10.5  new_with_defects   good_condition   1500
54  10.5              used      missing_lid   1650
56  11.0              used   good_condition   1210
57  11.0              used    badly_damaged   1250
60  11.5              used   good_condition   1300
63  11.5              used    badly_damaged   1500
64  11.5  new_with_defects   good_condition   1913
66  12.0              used  no_original_box   1080
68  12.0              used    badly_damaged   1350
69  12.0              used   good_condition   1400
70  12.0  new_with_defects   good_condition   1600
72  13.0              used  no_original_box   1025
74  13.0              used   good_condition   1105
75  13.0  new_with_defects   good_condition   1525
76  13.0  new_with_defects    badly_damaged   1600
78  14.0              used   good_condition   1025
79  15.0  new_with_defects   good_condition   1400

Air Jordan 1 Mid SE GS 'All-Star Weekend'

Empty DataFrame
Columns: [size, shoeCondition, boxCondition, price]
Index: []

Wmns Air Jordan 1 Retro High OG 'Blue Chill'

    size     shoeCondition     boxCondition  price
4    6.0              used   good_condition    685
5    6.0  new_with_defects    badly_damaged    715
7    6.5              used   good_condition    378
8    6.5  new_with_defects   good_condition    626
10   7.0  new_with_defects   good_condition    600
12   7.5              used   good_condition    615
13   7.5  new_with_defects   good_condition    628
15   8.0  new_with_defects   good_condition    626
16   8.0              used   good_condition    600
18   8.5              used   good_condition    500
19   8.5  new_with_defects    badly_damaged    581
20   8.5  new_with_defects   good_condition    590
21   8.5              used  no_original_box    470
22   8.5              used    badly_damaged    485
24   9.0  new_with_defects   good_condition    524
25   9.0  new_with_defects    badly_damaged    530
27   9.5  new_with_defects    badly_damaged    535
28   9.5              used   good_condition    741
29   9.5  new_with_defects   good_condition    499
31  10.0  new_with_defects   good_condition    550
32  10.0              used   good_condition    485
33  10.0              used    badly_damaged    440
34  10.0              used  no_original_box    389
35  10.5  new_with_defects    badly_damaged    687
37  10.5              used   good_condition    540
38  10.5              used  no_original_box    505
39  10.5              used    badly_damaged    465
40  10.5  new_with_defects   good_condition    590
41  11.0  new_with_defects   good_condition    600
43  11.0              used   good_condition    987
44  11.0  new_with_defects    badly_damaged    633
46  11.5              used   good_condition    590
48  12.0              used   good_condition    540
49  12.0              used  no_original_box    418
50  12.5              used    badly_damaged    550

Air Jordan 1 Retro High 'Tokyo Bio Hack'

    size     shoeCondition    boxCondition  price
3    7.0              used  good_condition    365
6    7.5              used  good_condition    350
8    7.5  new_with_defects  good_condition    400
11   8.0              used  good_condition    280
12   8.0  new_with_defects  good_condition   2000
14   8.5              used  good_condition    260
16   9.0  new_with_defects  good_condition    275
22   9.5              used   badly_damaged    340
23   9.5              used  good_condition    250
25  10.0  new_with_defects  good_condition    300
27  10.0              used  good_condition    235
28  10.0  new_with_defects   badly_damaged    350
30  10.5              used  good_condition    220
32  10.5              used   badly_damaged    239
33  10.5  new_with_defects  good_condition    250
36  11.0  new_with_defects  good_condition    275
37  11.0              used  good_condition    220
39  11.0  new_with_defects   badly_damaged    245
41  11.5              used  good_condition    270
45  12.0  new_with_defects   badly_damaged    325
47  12.0  new_with_defects  good_condition    295

Air Jordan 1 Retro High OG 'Black Metallic Gold'

    size     shoeCondition     boxCondition  price
7    6.0  new_with_defects   good_condition    250
11   8.0              used   good_condition    193
13   8.0  new_with_defects   good_condition    215
15   8.5              used   good_condition    225
17   8.5  new_with_defects  no_original_box    599
19   9.0  new_with_defects   good_condition    215
24   9.5  new_with_defects    badly_damaged    250
26   9.5  new_with_defects   good_condition    237
31  10.5  new_with_defects   good_condition    225
35  11.5  new_with_defects   good_condition    221
42  13.0              used  no_original_box    220
43  13.0              used   good_condition    250
44  13.0  new_with_defects   good_condition    300
49  15.0  new_with_defects   good_condition    290

Wmns Air Jordan 1 High OG 'UNC To Chicago'

    size     shoeCondition     boxCondition  price
1    5.0  new_with_defects   good_condition    218
3    5.5  new_with_defects    badly_damaged    699
6    5.5              used    badly_damaged    699
7    6.0  new_with_defects    badly_damaged    699
8    6.0              used  no_original_box    175
9    6.0  new_with_defects   good_condition    205
11   6.0              used   good_condition    220
13   6.5              used      missing_lid    230
14   6.5  new_with_defects    badly_damaged    247
15   6.5  new_with_defects   good_condition    699
16   6.5              used   good_condition    225
21   7.0  new_with_defects    badly_damaged    253
22   7.0  new_with_defects   good_condition    229
25   7.5              used      missing_lid    220
27   7.5  new_with_defects   good_condition    236
29   7.5              used   good_condition    266
31   8.0  new_with_defects    badly_damaged    260
32   8.0  new_with_defects   good_condition    253
34   8.0              used   good_condition    240
35   8.5              used  no_original_box    250
37   8.5              used   good_condition    250
38   8.5  new_with_defects   good_condition    261
40   9.0  new_with_defects   good_condition    267
41   9.0              used  no_original_box    185
44   9.0              used   good_condition    220
47   9.5              used   good_condition    235
48   9.5  new_with_defects   good_condition    254
50  10.0              used    badly_damaged    325
51  10.0  new_with_defects   good_condition    699
55  10.0              used   good_condition    240
56  10.5              used  no_original_box    320
57  10.5              used    badly_damaged    280
60  10.5              used   good_condition    230
65  11.0              used   good_condition    250
68  11.5  new_with_defects   good_condition    247
69  11.5              used  no_original_box    284
70  11.5              used   good_condition    230
74  12.0  new_with_defects   good_condition    260
75  12.0              used    badly_damaged    233
76  12.0              used   good_condition    230
78  12.5              used   good_condition    249
79  12.5              used  no_original_box    249
81  13.0              used   good_condition    275
82  13.0              used    badly_damaged    290
83  13.0              used  no_original_box    280
87  13.5              used   good_condition    250
90  14.0              used   good_condition    250

Air Jordan 1 Retro High OG 'Bred Toe'

    size     shoeCondition     boxCondition  price
1    7.5              used   good_condition    615
3    8.0              used  no_original_box    357
6    8.0              used   good_condition    520
7    8.0              used    badly_damaged    500
10   8.5              used   good_condition    540
11   8.5              used  no_original_box    380
12   8.5  new_with_defects    badly_damaged    705
15   9.0  new_with_defects   good_condition    710
16   9.0              used   good_condition    550
17   9.0              used  no_original_box    390
18   9.5              used  no_original_box    370
19   9.5              used    badly_damaged    514
22   9.5              used   good_condition    443
23   9.5              used      missing_lid    425
26  10.0              used   good_condition    458
27  10.0  new_with_defects   good_condition    706
28  10.0              used  no_original_box    245
30  10.0              used    badly_damaged    520
32  10.5              used  no_original_box    394
33  10.5              used    badly_damaged    400
34  10.5              used   good_condition    350
37  11.0              used   good_condition    520
38  11.0              used  no_original_box    370
39  11.0              used    badly_damaged    600
40  11.0  new_with_defects    badly_damaged    699
43  11.5              used  no_original_box    450
44  11.5  new_with_defects    badly_damaged    630
45  11.5  new_with_defects   good_condition   1200
46  11.5              used   good_condition    362
47  11.5              used      missing_lid   1110
48  12.0              used    badly_damaged    515
49  12.0              used   good_condition    370
50  12.0  new_with_defects   good_condition    690
53  12.0              used  no_original_box    285
55  13.0              used   good_condition    480
57  13.0              used  no_original_box    365
59  13.0              used      missing_lid    450
64  15.0              used  no_original_box    455
65  15.0              used   good_condition    615

Air Jordan 1 Mid 'Pine Green'

    size     shoeCondition     boxCondition  price
2    8.0              used   good_condition    399
5    8.5              used   good_condition    315
7    9.0              used    badly_damaged    275
8    9.0              used   good_condition    259
10   9.5              used   good_condition    248
11  10.0              used   good_condition    225
13  10.0              used    badly_damaged    280
14  10.0              used  no_original_box    267
15  10.5              used  no_original_box    200
16  10.5              used   good_condition    166
19  11.0              used   good_condition    220
20  11.5              used   good_condition    250
21  11.5  new_with_defects   good_condition    382
22  11.5              used  no_original_box    175
24  12.0              used   good_condition    227
25  12.0              used    badly_damaged    250
27  12.0              used  no_original_box    200
28  12.0  new_with_defects   good_condition    419
32  13.0              used    badly_damaged    200
33  13.0              used  no_original_box    140
34  13.0              used   good_condition    310
35  14.0              used   good_condition    180
41  18.0              used  no_original_box    166

Air Jordan 1 Mid 'White Shadow'

    size     shoeCondition    boxCondition  price
5    8.5  new_with_defects   badly_damaged    250
8    9.5  new_with_defects   badly_damaged    200
11   9.5  new_with_defects  good_condition    180
13  10.0              used  good_condition    500
14  10.0              used   badly_damaged    145
21  11.0  new_with_defects  good_condition    154
23  12.0              used  good_condition    155

Wmns Air Jordan 1 Mid SE 'Gold Pendants'

    size     shoeCondition    boxCondition  price
9    8.5  new_with_defects  good_condition    191
11   9.0  new_with_defects  good_condition    180
18  11.0  new_with_defects  good_condition    174
19  11.5  new_with_defects  good_condition    185

Air Jordan 1 Retro High OG 'Fearless'

    size     shoeCondition     boxCondition  price
1    4.0              used  no_original_box    440
7    6.0              used  no_original_box    550
13   8.0  new_with_defects   good_condition    360
15   8.0              used   good_condition    225
19   8.5              used   good_condition    290
21   9.0              used   good_condition    300
26   9.5              used   good_condition    312
27   9.5              used  no_original_box    280
28   9.5  new_with_defects   good_condition   1300
29  10.0  new_with_defects   good_condition    350
31  10.0              used   good_condition    295
32  10.0              used  no_original_box    250
33  10.0  new_with_defects    badly_damaged    340
36  10.0              used    badly_damaged    300
37  10.5  new_with_defects    badly_damaged    649
38  10.5              used    badly_damaged    290
41  10.5              used   good_condition    290
42  10.5              used  no_original_box    274
43  10.5  new_with_defects   good_condition    450
45  11.0              used   good_condition    294
46  11.0              used  no_original_box    290
48  11.0              used    badly_damaged    295
49  11.0  new_with_defects      missing_lid    370
52  11.5              used  no_original_box    255
53  11.5  new_with_defects   good_condition    560
54  11.5              used    badly_damaged    320
56  12.0  new_with_defects   good_condition    448
57  12.0              used    badly_damaged    320
59  12.0              used  no_original_box    369
60  12.0              used   good_condition    325
61  12.0  new_with_defects    badly_damaged    396
63  12.5              used   good_condition    400
68  13.0              used   good_condition    320
70  14.0              used   good_condition    300
74  15.0  new_with_defects    badly_damaged    389
76  15.0  new_with_defects   good_condition    410

Air Jordan 1 Retro High OG 'Shadow' 2018

    size     shoeCondition     boxCondition  price
1    4.5              used      missing_lid    320
2    4.5              used    badly_damaged    330
5    5.0              used      missing_lid    520
6    5.5              used      missing_lid    442
7    5.5              used  no_original_box    500
13   7.5              used  no_original_box    278
15   8.0              used  no_original_box    400
17   8.0              used   good_condition    369
18   8.0  new_with_defects   good_condition    500
19   8.5              used    badly_damaged    289
21   8.5              used   good_condition    450
22   8.5              used  no_original_box    320
23   8.5  new_with_defects   good_condition    999
26   9.0              used  no_original_box    310
27   9.0              used   good_condition    299
29   9.0              used      missing_lid    450
30   9.0              used    badly_damaged    338
31   9.0  new_with_defects  no_original_box    477
32   9.5              used    badly_damaged    420
33   9.5              used   good_condition    393
34   9.5              used  no_original_box    245
36   9.5  new_with_defects   good_condition    555
37  10.0              used   good_condition    300
39  10.0              used    badly_damaged    330
40  10.0              used  no_original_box    275
41  10.5              used   good_condition    324
43  10.5              used  no_original_box    250
46  11.0              used   good_condition    255
47  11.0              used  no_original_box    280
48  11.0              used    badly_damaged    250
49  11.0  new_with_defects   good_condition    525
51  11.5              used   good_condition    293
52  11.5              used    badly_damaged    255
54  11.5              used  no_original_box    315
55  12.0              used  no_original_box    199
56  12.0              used   good_condition    338
58  12.0              used      missing_lid    215
59  12.0  new_with_defects    badly_damaged    500
62  13.0              used  no_original_box    275
63  13.0              used   good_condition    300
64  13.0              used    badly_damaged    350
67  14.0              used    badly_damaged    211
68  14.0              used   good_condition    389
70  15.0              used   good_condition    400

Air Jordan 1 Retro High OG 'Bloodline'

    size     shoeCondition     boxCondition  price
0    7.0              used   good_condition    420
4    7.5              used   good_condition    350
5    7.5  new_with_defects   good_condition    450
6    8.0              used   good_condition    227
8    8.0              used  no_original_box    300
10   8.5              used   good_condition    270
11   8.5              used    badly_damaged    320
12   8.5  new_with_defects   good_condition    320
14   9.0              used    badly_damaged    255
17   9.0              used   good_condition    270
18   9.0  new_with_defects   good_condition    660
19   9.0              used  no_original_box    235
21   9.5              used  no_original_box    235
22   9.5              used   good_condition    240
23   9.5              used    badly_damaged    233
24  10.0              used   good_condition    240
27  10.0  new_with_defects   good_condition    328
28  10.0  new_with_defects      missing_lid    294
30  10.0              used  no_original_box    230
33  10.5              used    badly_damaged    250
35  10.5              used   good_condition    215
37  10.5  new_with_defects   good_condition    286
38  10.5              used  no_original_box    195
39  10.5  new_with_defects  no_original_box    256
40  11.0              used  no_original_box    190
42  11.0              used   good_condition    210
44  11.0              used    badly_damaged    215
45  11.0  new_with_defects   good_condition    350
47  11.5              used  no_original_box    280
48  11.5              used   good_condition    215
51  12.0              used   good_condition    190
52  12.0              used  no_original_box    215
54  12.0  new_with_defects   good_condition    281
55  12.5              used   good_condition    249
60  13.0              used   good_condition    170
61  13.0              used  no_original_box    250

Air Jordan 1 Mid 'Smoke Grey'

    size     shoeCondition     boxCondition  price
9    8.0  new_with_defects   good_condition    250
12   9.0              used  no_original_box    225
13   9.0              used   good_condition    215
15   9.0  new_with_defects   good_condition    289
17   9.5              used   good_condition    220
19   9.5              used  no_original_box    250
21  10.0              used    badly_damaged    240
22  10.0              used   good_condition    244
25  10.0              used  no_original_box    160
26  10.0  new_with_defects   good_condition    255
28  10.5              used  no_original_box    180
30  10.5  new_with_defects   good_condition    220
32  11.0              used   good_condition    220
35  11.0  new_with_defects   good_condition    244
37  12.0              used   good_condition    160
39  12.0              used    badly_damaged    220
40  12.0  new_with_defects   good_condition    238
44  13.0              used   good_condition    180
45  14.0              used   good_condition    275

Air Jordan 1 Retro High OG 'Shattered Backboard 3.0'

    size     shoeCondition     boxCondition  price
2    7.5              used   good_condition    300
5    8.0              used   good_condition    390
9    8.5              used   good_condition    350
13   9.0              used   good_condition    330
18   9.5              used   good_condition    330
19  10.0  new_with_defects   good_condition    394
20  10.0              used   good_condition    360
25  10.5              used   good_condition    325
26  10.5  new_with_defects   good_condition    450
27  10.5              used  no_original_box    319
28  11.0              used   good_condition    315
31  11.0              used  no_original_box    320
32  11.0  new_with_defects   good_condition    429
33  11.0              used    badly_damaged    315
34  11.5              used   good_condition    340
36  11.5              used      missing_lid    339
38  11.5              used    badly_damaged    420
39  11.5  new_with_defects   good_condition    456
42  12.0              used   good_condition    334
43  12.0              used    badly_damaged    300
45  13.0              used   good_condition    326
47  13.0              used  no_original_box    335
52  14.0              used  no_original_box    368
55  15.0              used  no_original_box    280
56  15.0              used   good_condition    310

Off-White x Air Jordan 1 Retro High OG 'UNC'

     size     shoeCondition     boxCondition  price
2     4.0              used  no_original_box    950
4     4.5  new_with_defects   good_condition   1797
6     4.5              used   good_condition   1000
7     4.5              used  no_original_box    973
9     5.0              used  no_original_box    800
..    ...               ...              ...    ...
101  13.0              used    badly_damaged   1340
102  13.0  new_with_defects  no_original_box   3155
105  14.0              used   good_condition   1450
106  14.0  new_with_defects   good_condition   1750
110  15.0  new_with_defects  no_original_box   2000

[73 rows x 4 columns]

Wmns Air Jordan 1 Low 'UNC'

    size     shoeCondition    boxCondition  price
3    5.0  new_with_defects  good_condition    251
10   7.5  new_with_defects  good_condition    435

Wmns Air Jordan 1 Retro High OG 'Lucky Green'

    size     shoeCondition    boxCondition  price
1    5.5  new_with_defects  good_condition    270
8    7.0  new_with_defects  good_condition    260
10   7.5  new_with_defects  good_condition    260
11   7.5              used  good_condition    300
16   9.0  new_with_defects  good_condition    265
17   9.0  new_with_defects   badly_damaged    240
22  10.0  new_with_defects  good_condition    254
24  10.5  new_with_defects  good_condition    600
25  11.0              used  good_condition    271
27  11.0  new_with_defects  good_condition    305
28  11.5              used  good_condition    233
32  11.5  new_with_defects  good_condition    255

Wmns Air Jordan 1 Retro High OG 'Twist'

    size     shoeCondition     boxCondition  price
1    5.5              used  no_original_box    355
3    6.0              used   good_condition    650
6    6.5              used   good_condition    650
8    7.0              used   good_condition    700
10   7.5              used  no_original_box    400
12   8.0              used   good_condition   1025
14   9.0              used   good_condition    550
16   9.0  new_with_defects   good_condition    700
19   9.5              used   good_condition    600
21  10.0              used  no_original_box    700
23  10.5              used   good_condition    950
24  10.5              used  no_original_box    660
27  11.0              used   good_condition    600
28  11.5              used  no_original_box    600
30  12.0              used   good_condition    712

Air Jordan 1 Low 'Court Purple'

    size     shoeCondition     boxCondition  price
10   9.5              used   good_condition    124
18  11.0              used  no_original_box    150
28  13.0  new_with_defects   good_condition    110

Air Jordan 1 Mid 'Shattered Backboard'

    size     shoeCondition     boxCondition  price
0    7.0              used  no_original_box    150
4    7.5              used   good_condition    304
5    8.0              used  no_original_box    165
7    8.0  new_with_defects   good_condition    229
10   8.5              used    badly_damaged    180
11   8.5              used   good_condition    220
12   8.5  new_with_defects  no_original_box    200
14   9.0  new_with_defects   good_condition    205
15   9.0              used  no_original_box    139
17   9.5              used   good_condition    190
20   9.5  new_with_defects   good_condition    268
22  10.0              used   good_condition    210
23  10.0  new_with_defects  no_original_box    230
24  10.0              used  no_original_box    175
27  10.5              used   good_condition    220
28  11.0              used  no_original_box    150
30  11.0              used   good_condition    112
31  11.0  new_with_defects   good_condition    262
32  11.5              used  no_original_box    170
33  11.5              used    badly_damaged    125
37  11.5              used   good_condition    195
39  12.0              used  no_original_box    130
41  12.0              used   good_condition    194
45  14.0  new_with_defects   good_condition    235

Wmns Air Jordan 1 Mid 'Barely Orange'

   size     shoeCondition    boxCondition  price
5   7.0  new_with_defects  good_condition    299

Air Jordan 1 Mid 'Black Hyper Royal'

    size     shoeCondition     boxCondition  price
7    8.0              used  no_original_box    168
8    8.0              used   good_condition    155
10   8.5              used   good_condition    130
12   9.0              used   good_condition    185
13   9.0  new_with_defects  no_original_box    195
14   9.0              used    badly_damaged    170
16   9.0              used  no_original_box    130
17   9.5              used    badly_damaged    140
18   9.5              used  no_original_box    105
19   9.5              used   good_condition    130
22  10.0              used    badly_damaged    139
23  10.0              used   good_condition    147
25  10.5              used   good_condition    161
26  10.5              used  no_original_box    185
28  11.0              used  no_original_box    148
29  11.0              used   good_condition    125
31  11.5              used      missing_lid    999
33  11.5              used   good_condition    215
36  12.0              used   good_condition    160
40  13.0              used    badly_damaged    200
41  13.0              used   good_condition    150
42  14.0              used   good_condition    140

Air Jordan 1 Retro High OG 'Rookie of the Year'

    size     shoeCondition     boxCondition  price
5    5.0              used   good_condition    450
7    5.5              used   good_condition    690
11   6.5  new_with_defects   good_condition   5000
13   7.0              used   good_condition    500
16   7.5              used   good_condition    490
17   8.0              used   good_condition    450
19   8.0              used  no_original_box    300
20   8.0              used    badly_damaged    465
23   8.5              used   good_condition    340
26   9.0              used  no_original_box    335
27   9.0              used    badly_damaged    390
28   9.0              used   good_condition    426
30   9.5  new_with_defects   good_condition    515
31   9.5              used      missing_lid    338
32   9.5              used   good_condition    450
33   9.5              used  no_original_box    365
35  10.0              used  no_original_box    282
37  10.0  new_with_defects    badly_damaged    548
38  10.0              used   good_condition    282
39  10.0              used    badly_damaged    450
41  10.5              used  no_original_box    630
42  10.5              used   good_condition    380
44  11.0              used   good_condition    344
45  11.0  new_with_defects   good_condition    532
46  11.0              used    badly_damaged    335
47  11.0              used  no_original_box    350
48  11.0  new_with_defects    badly_damaged    542
49  11.5              used   good_condition    330
51  11.5              used  no_original_box    348
52  11.5              used    badly_damaged    350
53  11.5  new_with_defects    badly_damaged    559
54  12.0  new_with_defects  no_original_box    475
57  12.0              used   good_condition    350
58  12.0              used    badly_damaged    431
62  12.5              used   good_condition    354
63  12.5              used  no_original_box    350
65  13.0              used   good_condition    320
66  13.0              used    badly_damaged    393
67  13.0              used  no_original_box    325
69  14.0              used   good_condition    300
71  14.0  new_with_defects   good_condition    550
74  15.0              used  no_original_box    349
75  15.0              used   good_condition    350

Air Jordan 1 Retro High OG GS 'Royal Toe'

    size     shoeCondition     boxCondition  price
1    3.5              used   good_condition    325
2    4.0              used    badly_damaged    310
3    4.0              used   good_condition    320
5    4.0  new_with_defects   good_condition    295
6    4.5              used    badly_damaged    280
9    4.5              used   good_condition    338
11   5.0              used   good_condition    282
12   5.0  new_with_defects    badly_damaged    320
14   5.0  new_with_defects   good_condition    581
16   5.5              used   good_condition    325
19   6.0              used   good_condition    290
22   6.5  new_with_defects   good_condition    335
23   6.5              used   good_condition    300
24   6.5              used  no_original_box    300
26   7.0              used   good_condition    265
28   7.0              used    badly_damaged    270
29   7.0  new_with_defects   good_condition    370

Travis Scott x Air Jordan 1 Low 'Mocha'

    size     shoeCondition     boxCondition  price
1    7.0              used  no_original_box   1111
4    8.0              used   good_condition    995
7    8.0  new_with_defects  no_original_box    950
9    8.5              used   good_condition    990
11   8.5              used  no_original_box    945
13   8.5  new_with_defects  no_original_box   1090
14   9.0              used   good_condition    945
16   9.0              used  no_original_box    855
17   9.5  new_with_defects   good_condition   4069
18   9.5              used   good_condition    725
22  10.0              used   good_condition    975
23  10.5              used   good_condition    865
26  10.5              used  no_original_box   1140
30  11.0              used   good_condition    900
31  11.0  new_with_defects   good_condition    968
33  11.0              used    badly_damaged    953
34  11.5              used   good_condition   1000
38  12.0              used      missing_lid    950
39  12.0              used   good_condition    810
41  12.0              used  no_original_box   1050
42  12.0  new_with_defects   good_condition   1199
43  12.5              used   good_condition   1069
47  13.0  new_with_defects    badly_damaged    940
48  13.0              used   good_condition    749
49  13.0  new_with_defects   good_condition    995
50  13.0              used  no_original_box    900
52  14.0              used   good_condition    799

Air Jordan 1 Low 'Light Smoke Grey'

    size     shoeCondition     boxCondition  price
0    5.5  new_with_defects    badly_damaged    400
15  11.0              used   good_condition    150
16  11.0              used  no_original_box    140

Wmns Air Jordan 1 Retro High 'Satin Black Toe'

    size     shoeCondition     boxCondition  price
2    5.5  new_with_defects    badly_damaged    406
3    5.5              used    badly_damaged    560
4    5.5  new_with_defects   good_condition    408
6    6.0  new_with_defects   good_condition    430
8    6.0  new_with_defects  no_original_box    525
9    6.0              used      missing_lid    600
10   6.5  new_with_defects    badly_damaged    399
12   6.5  new_with_defects   good_condition    392
14   7.0  new_with_defects    badly_damaged    400
15   7.0  new_with_defects   good_condition    392
16   7.0              used   good_condition    460
18   7.5  new_with_defects   good_condition    375
19   7.5              used   good_condition    540
21   8.0  new_with_defects   good_condition    400
22   8.0              used   good_condition    750
24   8.5  new_with_defects   good_condition    421
26   8.5  new_with_defects    badly_damaged    455
27   8.5              used   good_condition    400
29   9.0  new_with_defects   good_condition    416
30   9.0  new_with_defects    badly_damaged    417
32   9.0              used   good_condition    703
34   9.5  new_with_defects   good_condition    440
35   9.5              used   good_condition    550
38  10.0              used   good_condition    380
39  10.0              used    badly_damaged    439
40  10.0  new_with_defects   good_condition    510
42  10.5  new_with_defects   good_condition   1385
44  10.5              used    badly_damaged    410
45  10.5              used   good_condition    543
46  11.0  new_with_defects   good_condition    450
48  11.0              used   good_condition    540
49  11.0              used  no_original_box    520
52  11.5              used   good_condition    390
53  11.5  new_with_defects   good_condition    465
54  12.0              used   good_condition    525
56  12.0  new_with_defects   good_condition    450
59  12.0  new_with_defects    badly_damaged    915

Air Jordan 1 Low 'Gym Red'

    size     shoeCondition     boxCondition  price
2    8.0              used  no_original_box    442
5    8.5              used   good_condition    175
7    9.0              used  no_original_box    130
8    9.0              used   good_condition    155
11   9.5              used   good_condition    150
13  10.0              used   good_condition    170
14  10.0              used  no_original_box    150
15  10.0  new_with_defects   good_condition    180
18  10.5              used   good_condition    175
19  10.5  new_with_defects   good_condition    235
20  11.0              used  no_original_box    155
21  11.0              used    badly_damaged    125
23  11.0              used   good_condition    150
25  11.5              used   good_condition    160
27  12.0              used   good_condition    150
31  13.0              used   good_condition    140

Air Jordan 1 Retro High OG 'Phantom'

    size     shoeCondition     boxCondition  price
1    7.0              used   good_condition    400
4    8.5              used   good_condition    260
6    8.5              used    badly_damaged    315
7    9.0              used  no_original_box    240
9    9.0              used   good_condition    275
10   9.0  new_with_defects   good_condition    338
12   9.5              used    badly_damaged    230
14   9.5              used   good_condition    230
15   9.5              used  no_original_box    170
16  10.0              used   good_condition    210
17  10.0              used  no_original_box    200
20  10.5              used   good_condition    185
21  10.5              used  no_original_box    175
22  10.5              used    badly_damaged    280
23  11.0              used  no_original_box    145
24  11.0              used    badly_damaged    175
25  11.0              used   good_condition    140
27  11.0  new_with_defects   good_condition    282
28  11.0  new_with_defects  no_original_box    250
29  11.0  new_with_defects    badly_damaged    290
31  11.5  new_with_defects   good_condition    456
32  11.5              used   good_condition    140
33  11.5              used    badly_damaged    189
34  11.5              used  no_original_box    139
36  12.0              used   good_condition    180
37  12.0              used  no_original_box    180
38  12.0  new_with_defects   good_condition    589
39  12.0              used      missing_lid    150
41  12.0              used    badly_damaged    175
43  13.0              used      missing_lid    230
44  13.0              used    badly_damaged    225
46  13.0              used   good_condition    199
47  13.0              used  no_original_box    225
49  14.0              used  no_original_box    168
52  15.0  new_with_defects    badly_damaged    160

Air Jordan 1 Low 'Reverse Bred'

    size     shoeCondition     boxCondition  price
4    7.0  new_with_defects   good_condition    140
9    8.0  new_with_defects   good_condition    114
10   8.0              used  no_original_box    100
12   8.0              used   good_condition    100
15   8.5  new_with_defects   good_condition    112
16   9.0  new_with_defects   good_condition    120
18   9.0              used  no_original_box    105
19   9.0              used   good_condition    110
23   9.5              used   good_condition     95
26  10.0              used   good_condition     88
27  10.0  new_with_defects   good_condition    115
28  10.0  new_with_defects    badly_damaged    131
32  10.5              used   good_condition    125
34  10.5  new_with_defects   good_condition    109
37  11.0  new_with_defects   good_condition    119
40  11.5              used   good_condition     98
41  11.5  new_with_defects      missing_lid    105
42  11.5  new_with_defects   good_condition    130
45  12.0              used   good_condition     80
46  12.0  new_with_defects   good_condition    130
49  13.0              used  no_original_box    110

Air Jordan 1 Retro High OG 'Pine Green'

    size     shoeCondition     boxCondition  price
5    8.5              used  no_original_box    285
6    8.5              used   good_condition    460
7    8.5  new_with_defects   good_condition    699
8    8.5  new_with_defects    badly_damaged    520
10   9.0              used   good_condition    485
12   9.5              used   good_condition    380
16  10.0              used   good_condition    370
17  10.0              used  no_original_box    280
18  10.0              used    badly_damaged    420
19  10.0  new_with_defects    badly_damaged    550
20  10.5              used   good_condition    300
21  10.5              used  no_original_box    295
24  10.5  new_with_defects   good_condition    415
25  11.0              used   good_condition    280
27  11.0              used    badly_damaged    300
28  11.0              used  no_original_box    280
29  11.0              used      missing_lid    325
31  11.5              used  no_original_box    300
33  11.5  new_with_defects   good_condition    439
34  11.5              used    badly_damaged    338
35  11.5              used   good_condition    310
38  12.0              used  no_original_box    297
39  12.0              used   good_condition    319
40  12.0              used    badly_damaged    320
43  13.0  new_with_defects   good_condition    440
45  13.0              used  no_original_box    264
51  14.0              used    badly_damaged    282
52  14.0              used   good_condition    300